public/article.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msthemecompatible" content="no">
    <meta name="cleartype" content="on">
    <meta name="HandheldFriendly" content="True">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="description" content="Naviport &amp;mdash; Личный кабинет агента">
    <meta name="author" content="Naviport &amp;mdash; Личный кабинет агента">
    <meta name="keywords" content="">
    <meta name="publisher-email" content="">
    <meta name="publisher-url" content="">
    <link rel="shortcut icon" href="img/favicon/favicon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="img/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="img/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="img/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="img/favicon/manifest.json">
    <link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="img/favicon/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href="css/defaults.css?1459198448681" rel="stylesheet">
    <link href="css/layouts.css?1459198448681" rel="stylesheet">
    <link href="css/pages.css?1459198448681" rel="stylesheet">
    <link href="css/vendors.css?1459198448681" rel="stylesheet">
    <link href="css/develop.css?1459198448681" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=latin,cyrillic-ext,latin-ext,cyrillic" rel="stylesheet" type="text/css"><!--[if lt IE 9]>
    <script src="js/libs/html5shiv/es5-shim.min.js"></script>
    <script src="js/libs/html5shiv/html5shiv.min.js"></script>
    <script src="js/libs/html5shiv/html5shiv-printshiv.min.js"></script>
    <script src="js/libs/respond.min.js"></script><![endif]-->
    <title>Внутренняя страница</title>
  </head>
  <body>
    <section class="sidebar">
      <div class="sidebar__wrap scrollbar">
        <div class="logotype"><a href="dashboard.html" class="logotype__link"><img src="img/logotype.png" width="151" height="43" title="Перейти на главную страницу Личного кабинета" alt="" class="logotype__image"></a>
          <div class="create"><a href="order__add.html" class="create__link btn btn__create">Создать заявку</a></div>
        </div>
        <div class="menu">
          <ul class="menu__list">
            <li class="menu__item"><a href="dashboard.html" class="menu__link menu__link--dashboard">Рабочий стол</a></li>
            <li class="menu__item"><a href="order__list.html" class="menu__link menu__link--orders active">Заявки</a></li>
            <li class="menu__item"><a href="profile.html" class="menu__link menu__link--profile">Мой профиль</a></li>
            <li class="menu__item"><a href="finance.html" class="menu__link menu__link--finance">Финансы</a></li>
            <li class="menu__item"><a href="base.html" class="menu__link menu__link--base">База знаний</a></li>
            <li class="menu__item"><a href="tickets__list.html" class="menu__link menu__link--support">Техподдержка</a></li>
          </ul>
        </div>
        <div class="manager"><img src="img/manager__avatar.png" width="60" height="60" title="" alt="" class="manager__image">
          <div class="manager__name">Елена Сон</div>
          <div class="manager__title">Ваш менеджер</div>
          <div class="manager__phone">8 (315) 525-31-63</div>
          <div class="manager__email">elena@naviportal.ru</div>
        </div>
        <div class="support">
          <div class="support__title">Служба технической поддержки</div>
          <div class="support-b">
            <div class="support-b__phone">8-800-500-43-69</div>
            <div class="support-b__email">support@naviportal.ru</div>
          </div>
        </div>
      </div>
    </section>
    <section class="content">
      <div class="navigation">
        <div class="navigation__list">
          <div class="row">
            <div class="s4 col">
              <div class="navigation__item navigation__item--support"><img src="img/icons/icon__support--small.png" width="20" height="20" title="Сообщения от техподдержки" alt="" class="navigation__icon"><a href="#" class="navigation__link">Техподдержка</a><span class="navigation__indicator">3</span></div>
            </div>
            <div class="s1 col">
              <div class="navigation__item navigation__item--balance"><img src="img/icons/icon__finance--small.png" width="20" height="20" title="Ваш баланс" alt="" class="navigation__icon"><a href="#" title="Ваш баланс" class="navigation__link">1 386 500 <span class="rouble">₽</span></a></div>
            </div>
            <div class="s5 col">
              <div class="navigation__item navigation__item--name"><a href="#" class="navigation__link">Константиновский Александр Васильевич <span class="normal">(id: 3155)</span></a></div>
              <div class="navigation__item navigation__item--exit"><a href="#" class="navigation__link"><img src="img/icons/icon__exit.png" width="20" height="20" title="Выйти из кабинета" alt="" class="navigation__icon"></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="base">
        <div class="container">
          <div class="section__header">
            <h1 class="section__title">Как разблокировать карту водителя?</h1>
            <div class="section__action">
              <div class="action">
                <div class="action__list">
                  <div class="action__item"><a href="#" class="action__link action__link--back">К базе знаний</a></div>
                  <div class="action__item"><a href="#" class="action__link action__link--add">Создать заявку</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="section__content">
            <div class="row">
              <div class="s9 col">
                <div class="article">
                  <div class="article__content">
                    <quote>Вопрос, который имеет сейчас большую популярность среди большенства перевозчиков.</quote>
                    <p>Итак, для начала определимся, какая у вас карта: ЕСТР, СКЗИ или карта водителя для тахографа без блока СКЗИ (Технический регламент).</p>
                    <p>Все карты ЕСТР и карты по Техническому регламенту не имеют паролей. С ними проблем быть не должно. Если эти <a href="#">карты не работают</a>, скорее всего, они вышли из строя и вам необходимо сделать новую карту.</p><br>
                    <p>Если у вас <a href="#">заблокировалась карта</a> водителя СКЗИ, значит 3 раза был неправильно введен пин-код.</p><br>
                    <h2>Заголовок в несколько строк для проверки интерлиньяжа </h2><br>
                    <ol>
                      <li>найти в конверте, который был получен вами при передаче карты, лист с PIN-код и PUK-код и <span class="rouble">₽</span></li>
                      <li>приехать в офис ООО «ТАХОБАНК» по адресу г.Москва, ул. Севанскаяд.29А, предоставить данные PIN-кода и PUK-кода, а также заблокированную карту специалисту технической поддержки, который в течение минуты разблокирует вам вашу карту.</li>
                    </ol><br>
                    <h3>Длинный заголовок третьего уровня для все той же проверки межстрочных интервалов</h3><br>
                    <p>Если при проведении манипуляций с картой по ее разблокировке карта все равно не работает в тахографе, возможно она вышла из строя.</p><br>
                    <table>
                      <thead>
                        <td>Тахограф</td>
                        <td>Свойство</td>
                        <td>Есть/нет</td>
                        <td>Сколько</td>
                      </thead>
                      <tbody>
                        <tr>
                          <td>АТОЛ Drive-5</td>
                          <td>Значение 1</td>
                          <td>Есть</td>
                          <td>Нет</td>
                        </tr>
                        <tr>
                          <td>АТОЛ Drive-5</td>
                          <td>Значение 1</td>
                          <td>Есть</td>
                          <td>Нет</td>
                        </tr>
                        <tr>
                          <td>АТОЛ Drive-5</td>
                          <td>Значение 1</td>
                          <td>Есть</td>
                          <td>Нет</td>
                        </tr>
                        <tr>
                          <td>АТОЛ Drive-5</td>
                          <td>Значение 1</td>
                          <td>Есть</td>
                          <td>Нет</td>
                        </tr>
                      </tbody>
                    </table><br><br>
                    <p><b>Адрес для отправки карты на диагностику: тоже в несколькострок чтобы проверить</b></p><br>
                    <p>115516, г.Москва, ул.Севанская, д.29 А.</p>
                  </div>
                </div>
                <div class="back"><a href="#" class="back__link">К базе знаний</a></div>
              </div>
              <div class="s3 col">
                <div class="about-cabinet block">
                  <div class="block__title">О личном кабинете</div>
                  <div class="block__content">
                    <div class="about-cabinet__list">
                      <div class="about-cabinet__item"><a href="#" class="about-cabinet__link">Порядок выплат</a></div>
                      <div class="about-cabinet__item"><a href="#" class="about-cabinet__link">О начислениях агентских вознаграждений</a></div>
                      <div class="about-cabinet__item"><a href="#" class="about-cabinet__link">Статусы заявок</a></div>
                    </div>
                  </div>
                </div>
                <div class="download list">
                  <div class="list__title">Материалы для скачивания</div>
                  <div class="list__content">
                    <div class="download__list">
                      <div class="download__item download__item--powerpoint"><a href="#" class="download__link">Обучающий курс «Российская тахография»</a>
                        <div class="download__info">В формате .pptx, 1.2 мб</div>
                      </div>
                      <div class="download__item download__item--exel"><a href="#" class="download__link">Цены на установку тахографов</a>
                        <div class="download__info">В формате .xlsx, 0.3 мб</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
    <script src="js/libs/jquery.smoothscroll.min.js"></script>
    <script>console.log("js/libs/jquery.smoothscroll.min.js was connected!")</script>
    <script src="js/libs/jquery.scrollbar.js"></script>
    <script>console.log("js/libs/jquery.scrollbar.js was connected!")</script>
    <script src="js/jquery.functions.js"></script>
  </body>
</html>

source/jade/article.jade
append config
	- jquery = true

extends template/template.jade

block title
	| Внутренняя страница

block content

	//- Sidebar

	include ./include/sidebarA.jade

	section.content

		//- Navigation

		include ./include/navigation.jade

		.base
			.container
				.section__header
					h1.section__title Как разблокировать карту водителя?
					.section__action
						.action
							.action__list
								.action__item
									a.action__link.action__link--back(href="#") К базе знаний
								.action__item
									a.action__link.action__link--add(href="#") Создать заявку

				.section__content
					.row
						.s9.col
							.article
								.article__content

									quote Вопрос, который имеет сейчас большую популярность среди большенства перевозчиков.
									p Итак, для начала определимся, какая у вас карта: ЕСТР, СКЗИ или карта водителя для тахографа без блока СКЗИ (Технический регламент).

									p Все карты ЕСТР и карты по Техническому регламенту не имеют паролей. С ними проблем быть не должно. Если эти <a href="#">карты не работают</a>, скорее всего, они вышли из строя и вам необходимо сделать новую карту.
									br
									p Если у вас <a href="#">заблокировалась карта</a> водителя СКЗИ, значит 3 раза был неправильно введен пин-код.
									br
									h2 Заголовок в несколько строк для проверки интерлиньяжа 
									br
									ol
										li найти в конверте, который был получен вами при передаче карты, лист с PIN-код и PUK-код и <span class="rouble">₽</span>
										li приехать в офис ООО «ТАХОБАНК» по адресу г.Москва, ул. Севанскаяд.29А, предоставить данные PIN-кода и PUK-кода, а также заблокированную карту специалисту технической поддержки, который в течение минуты разблокирует вам вашу карту.
									br
									h3 Длинный заголовок третьего уровня для все той же проверки межстрочных интервалов
									br
									p Если при проведении манипуляций с картой по ее разблокировке карта все равно не работает в тахографе, возможно она вышла из строя.
									br
									table
										thead
											td Тахограф
											td Свойство
											td Есть/нет
											td Сколько
										tbody
											tr
												td АТОЛ Drive-5
												td Значение 1
												td Есть
												td Нет
											tr
												td АТОЛ Drive-5
												td Значение 1
												td Есть
												td Нет
											tr
												td АТОЛ Drive-5
												td Значение 1
												td Есть
												td Нет
											tr
												td АТОЛ Drive-5
												td Значение 1
												td Есть
												td Нет
									br
									br
									p <b>Адрес для отправки карты на диагностику: тоже в несколькострок чтобы проверить</b>
									br
									p 115516, г.Москва, ул.Севанская, д.29 А.
							.back
								a.back__link(href="#") К базе знаний
						.s3.col
							.about-cabinet.block
								.block__title О личном кабинете
								.block__content
									.about-cabinet__list
										.about-cabinet__item
											a.about-cabinet__link(href="#") Порядок выплат
										.about-cabinet__item
											a.about-cabinet__link(href="#") О начислениях агентских вознаграждений
										.about-cabinet__item
											a.about-cabinet__link(href="#") Статусы заявок

							.download.list
								.list__title Материалы для скачивания
								.list__content
									.download__list
										.download__item.download__item--powerpoint
											a.download__link(href="#") Обучающий курс «Российская тахография»
											.download__info В формате .pptx, 1.2 мб
										.download__item.download__item--exel
											a.download__link(href="#") Цены на установку тахографов
											.download__info В формате .xlsx, 0.3 мб
