public/finance.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msthemecompatible" content="no">
    <meta name="cleartype" content="on">
    <meta name="HandheldFriendly" content="True">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="description" content="Naviport &amp;mdash; Личный кабинет агента">
    <meta name="author" content="Naviport &amp;mdash; Личный кабинет агента">
    <meta name="keywords" content="">
    <meta name="publisher-email" content="">
    <meta name="publisher-url" content="">
    <link rel="shortcut icon" href="img/favicon/favicon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="img/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="img/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="img/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="img/favicon/manifest.json">
    <link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="img/favicon/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href="css/defaults.css?1459198449434" rel="stylesheet">
    <link href="css/layouts.css?1459198449434" rel="stylesheet">
    <link href="css/pages.css?1459198449434" rel="stylesheet">
    <link href="css/vendors.css?1459198449434" rel="stylesheet">
    <link href="css/develop.css?1459198449434" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=latin,cyrillic-ext,latin-ext,cyrillic" rel="stylesheet" type="text/css"><!--[if lt IE 9]>
    <script src="js/libs/html5shiv/es5-shim.min.js"></script>
    <script src="js/libs/html5shiv/html5shiv.min.js"></script>
    <script src="js/libs/html5shiv/html5shiv-printshiv.min.js"></script>
    <script src="js/libs/respond.min.js"></script><![endif]-->
    <title>Finance</title>
  </head>
  <body>
    <section class="sidebar">
      <div class="sidebar__wrap scrollbar">
        <div class="logotype"><a href="dashboard.html" class="logotype__link"><img src="img/logotype.png" width="151" height="43" title="Перейти на главную страницу Личного кабинета" alt="" class="logotype__image"></a>
          <div class="create"><a href="order__add.html" class="create__link btn btn__create">Создать заявку</a></div>
        </div>
        <div class="menu">
          <ul class="menu__list">
            <li class="menu__item"><a href="dashboard.html" class="menu__link menu__link--dashboard">Рабочий стол</a></li>
            <li class="menu__item"><a href="order__list.html" class="menu__link menu__link--orders active">Заявки</a></li>
            <li class="menu__item"><a href="profile.html" class="menu__link menu__link--profile">Мой профиль</a></li>
            <li class="menu__item"><a href="finance.html" class="menu__link menu__link--finance">Финансы</a></li>
            <li class="menu__item"><a href="base.html" class="menu__link menu__link--base">База знаний</a></li>
            <li class="menu__item"><a href="tickets__list.html" class="menu__link menu__link--support">Техподдержка</a></li>
          </ul>
        </div>
        <div class="manager"><img src="img/manager__avatar.png" width="60" height="60" title="" alt="" class="manager__image">
          <div class="manager__name">Елена Сон</div>
          <div class="manager__title">Ваш менеджер</div>
          <div class="manager__phone">8 (315) 525-31-63</div>
          <div class="manager__email">elena@naviportal.ru</div>
        </div>
        <div class="support">
          <div class="support__title">Служба технической поддержки</div>
          <div class="support-b">
            <div class="support-b__phone">8-800-500-43-69</div>
            <div class="support-b__email">support@naviportal.ru</div>
          </div>
        </div>
      </div>
    </section>
    <section class="content">
      <div class="navigation">
        <div class="navigation__list">
          <div class="row">
            <div class="s4 col">
              <div class="navigation__item navigation__item--support"><img src="img/icons/icon__support--small.png" width="20" height="20" title="Сообщения от техподдержки" alt="" class="navigation__icon"><a href="#" class="navigation__link">Техподдержка</a><span class="navigation__indicator">3</span></div>
            </div>
            <div class="s1 col">
              <div class="navigation__item navigation__item--balance"><img src="img/icons/icon__finance--small.png" width="20" height="20" title="Ваш баланс" alt="" class="navigation__icon"><a href="#" title="Ваш баланс" class="navigation__link">1 386 500 <span class="rouble">₽</span></a></div>
            </div>
            <div class="s5 col">
              <div class="navigation__item navigation__item--name"><a href="#" class="navigation__link">Константиновский Александр Васильевич <span class="normal">(id: 3155)</span></a></div>
              <div class="navigation__item navigation__item--exit"><a href="#" class="navigation__link"><img src="img/icons/icon__exit.png" width="20" height="20" title="Выйти из кабинета" alt="" class="navigation__icon"></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="base">
        <div class="container">
          <div class="section__header finance__header">
            <h1 class="section__title">Финансы</h1>
          </div>
          <div class="section__content">
            <div class="dashboard finance">
              <h2 class="finance__title">&nbsp;</h2>
              <div class="finance-b block">
                <div class="finance-b__content">
                  <div class="finance-b__title">Доступно к выплате:</div>
                  <div class="finance-b__balance">12 500 <span class="rouble">₽</span></div><a href="#" class="finance-b__withdraw"><u>Вывести деньги</u></a>
                </div><a href="#" class="finance-b__addition"><img src="img/icons/icon__arrow--next--blue--big.png" width="" height="" title="" alt=""></a>
              </div>
              <div class="finance-b">
                <div class="finance-b__info">Выплаты можно производить не чаще одного раза в месяц. <a href="#">О порядке выплат</a></div>
              </div>
            </div>
          </div>
          <div class="section__content">
            <h2 class="finance__title">История начислений</h2><br><br>
            <div class="order-list">
              <div class="order-list__header">
                <div class="order-list__item order-list__item--warning">&nbsp;</div>
                <div class="order-list__item order-list__item--num"><a href="#" class="order-list__sort">№</a></div>
                <div class="order-list__item order-list__item--date"><a href="#" class="order-list__sort">Дата<br />изменений</a></div>
                <div class="order-list__item order-list__item--company"><a href="#" class="order-list__sort">Наименование<br />компании</a></div>
                <div class="order-list__item order-list__item--sum"><a href="#" class="order-list__sort">Сумма<br />счета</a></div>
                <div class="order-list__item order-list__item--reward"><a href="#" class="order-list__sort">Агентское<br />вознагр.</a></div>
                <div class="order-list__item order-list__item--status"><a href="#" class="order-list__sort">Статус</a></div>
                <div class="order-list__item order-list__item--reward-status"><a href="#" class="order-list__sort">Статус выплаты<br />агентского вознагр.</a></div>
              </div>
              <div class="order-list__list"><a href="#" class="order-list__link">
                  <div class="order-list__content">
                    <div class="order-list__item order-list__item--warning order-list__item--warning--n1">&nbsp;</div>
                    <div class="order-list__item order-list__item--num">00000</div>
                    <div class="order-list__item order-list__item--date">16.02.16</div>
                    <div class="order-list__item order-list__item--company">«Стройсервис»</div>
                    <div class="order-list__item order-list__item--sum"><span class="none">&mdash;&mdash;</span></div>
                    <div class="order-list__item order-list__item--reward"><span class="none">&mdash;&mdash;</span></div>
                    <div class="order-list__item order-list__item--status order-list__item--status--n1"><span class="status__dfn">Заявка создана</span></div>
                    <div class="order-list__item order-list__item--reward-status"><span class="none">&mdash;&mdash;</span></div>
                  </div></a><a href="#" class="order-list__link">
                  <div class="order-list__content">
                    <div class="order-list__item order-list__item--warning order-list__item--warning--n2">&nbsp;</div>
                    <div class="order-list__item order-list__item--num">00000</div>
                    <div class="order-list__item order-list__item--date">16.02.16</div>
                    <div class="order-list__item order-list__item--company">«Стройсервис»</div>
                    <div class="order-list__item order-list__item--sum">103 000 <span class="rouble">₽</span></div>
                    <div class="order-list__item order-list__item--reward"><span class="none">&mdash;&mdash;</span></div>
                    <div class="order-list__item order-list__item--status order-list__item--status--n2"><span class="status__dfn">Ожидает оплаты</span></div>
                    <div class="order-list__item order-list__item--reward-status"><span class="none">&mdash;&mdash;</span></div>
                  </div></a><a href="#" class="order-list__link">
                  <div class="order-list__content">
                    <div class="order-list__item order-list__item--warning order-list__item--warning--n2">&nbsp;</div>
                    <div class="order-list__item order-list__item--num">00000</div>
                    <div class="order-list__item order-list__item--date">16.02.16</div>
                    <div class="order-list__item order-list__item--company">«Стройсервис»</div>
                    <div class="order-list__item order-list__item--sum">123 000 <span class="rouble">₽</span></div>
                    <div class="order-list__item order-list__item--reward">50 000 <span class="rouble">₽</span></div>
                    <div class="order-list__item order-list__item--status order-list__item--status--n3"><span class="status__dfn">Оплачено</span></div>
                    <div class="order-list__item order-list__item--reward-status"><span class="none">&mdash;&mdash;</span></div>
                  </div></a></div><a href="#index" data-featherlight="#payout" class="btn btn__simple">Архив начислений</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div id="payout">
      <div class="payout">
        <div class="requisites">
          <h2 class="requisites__title">Запрос на выплату</h2>
          <div class="requisites__content block">
            <div class="requisites__list">
              <div class="requisites__item"><span class="requisites__disc"><em>Получатель</em></span><span class="requisites__value">Афанасьев Петр Владимирович</span></div>
              <div class="requisites__item"><span class="requisites__disc"><em>Расч. счет</em></span><span class="requisites__value">38717615310875165340</span></div>
            </div><a href="#" class="requisites__link">Все реквизиты</a>
            <form class="requisites__inputs">
              <label for="pay" class="requisites__label">Вывести</label>
              <input name="pay" id="pay" type="text" required class="requisites__field">
              <div class="requisites__rouble"><span class="rouble">₽</span></div>
              <div class="requisites__price"><a href="#" class="requisites__link">Все 10 450 <span class="rouble">₽</span></a></div>
            </form>
            <div class="requisites__addition">
              <input value="Создать запрос" type="submit" class="btn btn__submit btn__submit--order">
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
    <script src="js/libs/jquery.featherlight.js"></script>
    <script src="js/libs/jquery.featherlight.gallery.js"></script>
    <script>console.log("js/libs/jquery.featherlight.js was connected!")</script>
    <script src="js/libs/jquery.smoothscroll.min.js"></script>
    <script>console.log("js/libs/jquery.smoothscroll.min.js was connected!")</script>
    <script src="js/libs/jquery.scrollbar.js"></script>
    <script>console.log("js/libs/jquery.scrollbar.js was connected!")</script>
    <script src="js/jquery.functions.js"></script>
  </body>
</html>

source/jade/finance.jade
append config
	- jquery = true
	- slick = false
	- featherlight = true
	- equalheight = false

extends template/template.jade

block title
	| Finance

block content

	//- Sidebar

	include ./include/sidebarA.jade

	section.content

		//- Navigation

		include ./include/navigation.jade

		.base
			.container
				.section__header.finance__header
					h1.section__title Финансы

				.section__content
					.dashboard.finance
						h2.finance__title &nbsp;
						.finance-b.block
							.finance-b__content
								.finance-b__title Доступно к выплате:
								.finance-b__balance 12 500 <span class="rouble">₽</span>
								a.finance-b__withdraw(href="#") <u>Вывести деньги</u>
							a.finance-b__addition(href="#")
								img(src="img/icons/icon__arrow--next--blue--big.png", width="", height="", title="", alt="")
						.finance-b
							.finance-b__info Выплаты можно производить не чаще одного раза в месяц. <a href="#">О порядке выплат</a>

				.section__content
					h2.finance__title История начислений
					br
					br
					.order-list
						.order-list__header
							.order-list__item.order-list__item--warning &nbsp;
							.order-list__item.order-list__item--num
								a.order-list__sort(href="#") №
							.order-list__item.order-list__item--date
								a.order-list__sort(href="#") Дата<br />изменений
							.order-list__item.order-list__item--company
								a.order-list__sort(href="#") Наименование<br />компании
							.order-list__item.order-list__item--sum
								a.order-list__sort(href="#") Сумма<br />счета
							.order-list__item.order-list__item--reward
								a.order-list__sort(href="#") Агентское<br />вознагр.
							.order-list__item.order-list__item--status
								a.order-list__sort(href="#") Статус
							.order-list__item.order-list__item--reward-status
								a.order-list__sort(href="#") Статус выплаты<br />агентского вознагр.

						.order-list__list

							a.order-list__link(href="#")
								.order-list__content
									.order-list__item.order-list__item--warning.order-list__item--warning--n1 &nbsp;
									.order-list__item.order-list__item--num 00000
									.order-list__item.order-list__item--date 16.02.16
									.order-list__item.order-list__item--company «Стройсервис»
									.order-list__item.order-list__item--sum <span class="none">&mdash;&mdash;</span>
									.order-list__item.order-list__item--reward <span class="none">&mdash;&mdash;</span>
									.order-list__item.order-list__item--status.order-list__item--status--n1
										span.status__dfn Заявка создана
									.order-list__item.order-list__item--reward-status <span class="none">&mdash;&mdash;</span>

							a.order-list__link(href="#")
								.order-list__content
									.order-list__item.order-list__item--warning.order-list__item--warning--n2 &nbsp;
									.order-list__item.order-list__item--num 00000
									.order-list__item.order-list__item--date 16.02.16
									.order-list__item.order-list__item--company «Стройсервис»
									.order-list__item.order-list__item--sum 103 000 <span class="rouble">₽</span>
									.order-list__item.order-list__item--reward <span class="none">&mdash;&mdash;</span>
									.order-list__item.order-list__item--status.order-list__item--status--n2
										span.status__dfn Ожидает оплаты
									.order-list__item.order-list__item--reward-status <span class="none">&mdash;&mdash;</span>
							a.order-list__link(href="#")
								.order-list__content
									.order-list__item.order-list__item--warning.order-list__item--warning--n2 &nbsp;
									.order-list__item.order-list__item--num 00000
									.order-list__item.order-list__item--date 16.02.16
									.order-list__item.order-list__item--company «Стройсервис»
									.order-list__item.order-list__item--sum 123 000 <span class="rouble">₽</span>
									.order-list__item.order-list__item--reward 50 000 <span class="rouble">₽</span>
									.order-list__item.order-list__item--status.order-list__item--status--n3
										span.status__dfn Оплачено
									.order-list__item.order-list__item--reward-status <span class="none">&mdash;&mdash;</span>



						//- Navigation

						a.btn.btn__simple(href='#index', data-featherlight="#payout") Архив начислений

	#payout
		.payout
			.requisites
				h2.requisites__title Запрос на выплату
				.requisites__content.block
					.requisites__list
						.requisites__item
							span.requisites__disc <em>Получатель</em>
							span.requisites__value Афанасьев Петр Владимирович
						.requisites__item
							span.requisites__disc <em>Расч. счет</em>
							span.requisites__value 38717615310875165340
					a.requisites__link(href="#") Все реквизиты
					form.requisites__inputs
						label.requisites__label(for="pay") Вывести
						input.requisites__field(name="pay", id="pay", type="text", required)
						.requisites__rouble
							| <span class="rouble">₽</span>
						.requisites__price
							a.requisites__link(href="#") Все 10 450 <span class="rouble">₽</span>
					.requisites__addition
						input.btn.btn__submit.btn__submit--order(value="Создать запрос", type="submit")
