source/jade/manager__users.jade
append config
	- jquery = true
	- slick = false
	- featherlight = false
	- equalheight = false

extends template/template.jade

block title
	| Main

block content

	//- Sidebar

	include ./include/sidebarB.jade

	section.content

		//- Navigation

		include ./include/navigationB.jade

		.base.profile
			.container
				.row
					.s12.col
						.section__header.managers__title
							h1.section__title Агенты

						.section__content
							.search.block
								form.data__form(id="", method="", action="")
								.search__item
									label.search__label(for="client") Поиск агента
									input.search__field(name="client", id="client", type="text", placeholder="Поиск по номеру ID", required)
									input.search__submit.btn.btn__submit.btn__submit--order(type="submit", value="Найти")

							.newusers
								h2.newusers__title Новые заявки <sup class="green">12</sup>
								.newusers__content.block
									.newusers__list
										a.newusers__link(href="#")
										.newusers__item.newusers__item--warning.newusers__item--warning--n1 &nbsp;
										.newusers__item.newusers__item--photo
											img.name__image(src="img/user__photo.png", width="", height="", title="", alt="")
										.newusers__item.newusers__item--name
											span Константинопольский Александр Валерьянович
										.newusers__item.newusers__item--id
											| &nbsp;
										.newusers__item.newusers__item--phone
											span +7 931 315-31-51
										.newusers__item.newusers__item--date
											span 16.12.15, 12:35
								.newusers__content.block
									.newusers__list
										a.newusers__link(href="#")
										.newusers__item.newusers__item--warning.newusers__item--warning--n1 &nbsp;
										.newusers__item.newusers__item--photo
											img.name__image(src="img/user__photo.png", width="", height="", title="", alt="")
										.newusers__item.newusers__item--name
											span Константинопольский Александр Валерьянович
										.newusers__item.newusers__item--id
											| &nbsp;
										.newusers__item.newusers__item--phone
											span +7 931 315-31-51
										.newusers__item.newusers__item--date
											span 16.12.15, 12:35

							.newusers
								h2.newusers__title Зарегистрированные <sup class="blue">118</sup>
								.newusers__content.block
									.newusers__list
										a.newusers__link(href="#")
										.newusers__item.newusers__item--warning.newusers__item--warning--n2 &nbsp;
										.newusers__item.newusers__item--photo
											img.name__image(src="img/user__photo.png", width="", height="", title="", alt="")
										.newusers__item.newusers__item--name
											span Константинопольский Александр Валерьянович
										.newusers__item.newusers__item--id
											span 4442
										.newusers__item.newusers__item--phone
											span +7 931 315-31-51
										.newusers__item.newusers__item--date
											span 16.12.15, 12:35
								.newusers__content.block
									.newusers__list
										a.newusers__link(href="#")
										.newusers__item.newusers__item--warning.newusers__item--warning--n2 &nbsp;
										.newusers__item.newusers__item--photo
											img.name__image(src="img/user__photo.png", width="", height="", title="", alt="")
										.newusers__item.newusers__item--name
											span Константинопольский Александр Валерьянович
										.newusers__item.newusers__item--id
											span 4442
										.newusers__item.newusers__item--phone
											span +7 931 315-31-51
										.newusers__item.newusers__item--date
											span 16.12.15, 12:35
								.newusers__content.block
									.newusers__list
										a.newusers__link(href="#")
										.newusers__item.newusers__item--warning.newusers__item--warning--n2 &nbsp;
										.newusers__item.newusers__item--photo
											img.name__image(src="img/user__photo.png", width="", height="", title="", alt="")
										.newusers__item.newusers__item--name
											span Константинопольский Александр Валерьянович
										.newusers__item.newusers__item--id
											span 4442
										.newusers__item.newusers__item--phone
											span +7 931 315-31-51
										.newusers__item.newusers__item--date
											span 16.12.15, 12:35
								.newusers__content.block
									.newusers__list
										a.newusers__link(href="#")
										.newusers__item.newusers__item--warning.newusers__item--warning--n2 &nbsp;
										.newusers__item.newusers__item--photo
											img.name__image(src="img/user__photo.png", width="", height="", title="", alt="")
										.newusers__item.newusers__item--name
											span Константинопольский Александр Валерьянович
										.newusers__item.newusers__item--id
											span 4442
										.newusers__item.newusers__item--phone
											span +7 931 315-31-51
										.newusers__item.newusers__item--date
											span 16.12.15, 12:35

						.section__addition
							a.btn.btn__more(href='#') Показать еще

public/manager__users.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msthemecompatible" content="no">
    <meta name="cleartype" content="on">
    <meta name="HandheldFriendly" content="True">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="description" content="Naviport &amp;mdash; Личный кабинет агента">
    <meta name="author" content="Naviport &amp;mdash; Личный кабинет агента">
    <meta name="keywords" content="">
    <meta name="publisher-email" content="">
    <meta name="publisher-url" content="">
    <link rel="shortcut icon" href="img/favicon/favicon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="img/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="img/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="img/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="img/favicon/manifest.json">
    <link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="img/favicon/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href="css/defaults.css?1459198449671" rel="stylesheet">
    <link href="css/layouts.css?1459198449671" rel="stylesheet">
    <link href="css/pages.css?1459198449671" rel="stylesheet">
    <link href="css/vendors.css?1459198449671" rel="stylesheet">
    <link href="css/develop.css?1459198449671" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=latin,cyrillic-ext,latin-ext,cyrillic" rel="stylesheet" type="text/css"><!--[if lt IE 9]>
    <script src="js/libs/html5shiv/es5-shim.min.js"></script>
    <script src="js/libs/html5shiv/html5shiv.min.js"></script>
    <script src="js/libs/html5shiv/html5shiv-printshiv.min.js"></script>
    <script src="js/libs/respond.min.js"></script><![endif]-->
    <title>Main</title>
  </head>
  <body>
    <section class="sidebar">
      <div class="sidebar__wrap scrollbar">
        <div class="logotype logotype--manager"><a href="dashboard.html" class="logotype__link"><img src="img/logotype__manager.png" width="151" height="43" title="Перейти на главную страницу Личного кабинета" alt="" class="logotype__image"></a></div>
        <div class="menu menu--manager">
          <ul class="menu__list">
            <li class="menu__item"><a href="#" class="menu__link menu__link--dashboard">Рабочий стол</a></li>
            <li class="menu__item"><a href="#" class="menu__link menu__link--orders active">Агенты</a></li>
            <li class="menu__item"><a href="#" class="menu__link menu__link--profile">Заявки</a></li>
            <li class="menu__item"><a href="#" class="menu__link menu__link--finance">Статистика</a></li>
            <li class="menu__item"><a href="#" class="menu__link menu__link--support">Техподдержка</a></li>
          </ul>
        </div>
      </div>
    </section>
    <section class="content">
      <div class="navigation">
        <div class="navigation__list">
          <div class="row">
            <div class="s4 col">
              <div class="navigation__item navigation__item--support"><img src="img/icons/icon__support--small.png" width="20" height="20" title="Сообщения от техподдержки" alt="" class="navigation__icon"><a href="#" class="navigation__link">Техподдержка</a><span class="navigation__indicator">3</span></div>
            </div>
            <div class="s1 col"></div>
            <div class="s5 col">
              <div class="navigation__item navigation__item--name"><img src="img/manager__avatar.png" width="40" height="40" title="" alt="" class="navigation__avatar"><a href="#" class="navigation__link navigation__link--manager">Елена Сон</a></div>
              <div class="navigation__item navigation__item--exit navigation__item--exit--manager"><a href="#" class="navigation__link"><img src="img/icons/icon__exit.png" width="20" height="20" title="Выйти из кабинета" alt="" class="navigation__icon"></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="base profile">
        <div class="container">
          <div class="row">
            <div class="s12 col">
              <div class="section__header managers__title">
                <h1 class="section__title">Агенты</h1>
              </div>
              <div class="section__content">
                <div class="search block">
                  <form id="" method="" action="" class="data__form"></form>
                  <div class="search__item">
                    <label for="client" class="search__label">Поиск агента</label>
                    <input name="client" id="client" type="text" placeholder="Поиск по номеру ID" required class="search__field">
                    <input type="submit" value="Найти" class="search__submit btn btn__submit btn__submit--order">
                  </div>
                </div>
                <div class="newusers">
                  <h2 class="newusers__title">Новые заявки <sup class="green">12</sup></h2>
                  <div class="newusers__content block">
                    <div class="newusers__list"><a href="#" class="newusers__link"></a>
                      <div class="newusers__item newusers__item--warning newusers__item--warning--n1">&nbsp;</div>
                      <div class="newusers__item newusers__item--photo"><img src="img/user__photo.png" width="" height="" title="" alt="" class="name__image"></div>
                      <div class="newusers__item newusers__item--name"><span>Константинопольский Александр Валерьянович</span></div>
                      <div class="newusers__item newusers__item--id">&nbsp;</div>
                      <div class="newusers__item newusers__item--phone"><span>+7 931 315-31-51</span></div>
                      <div class="newusers__item newusers__item--date"><span>16.12.15, 12:35</span></div>
                    </div>
                  </div>
                  <div class="newusers__content block">
                    <div class="newusers__list"><a href="#" class="newusers__link"></a>
                      <div class="newusers__item newusers__item--warning newusers__item--warning--n1">&nbsp;</div>
                      <div class="newusers__item newusers__item--photo"><img src="img/user__photo.png" width="" height="" title="" alt="" class="name__image"></div>
                      <div class="newusers__item newusers__item--name"><span>Константинопольский Александр Валерьянович</span></div>
                      <div class="newusers__item newusers__item--id">&nbsp;</div>
                      <div class="newusers__item newusers__item--phone"><span>+7 931 315-31-51</span></div>
                      <div class="newusers__item newusers__item--date"><span>16.12.15, 12:35</span></div>
                    </div>
                  </div>
                </div>
                <div class="newusers">
                  <h2 class="newusers__title">Зарегистрированные <sup class="blue">118</sup></h2>
                  <div class="newusers__content block">
                    <div class="newusers__list"><a href="#" class="newusers__link"></a>
                      <div class="newusers__item newusers__item--warning newusers__item--warning--n2">&nbsp;</div>
                      <div class="newusers__item newusers__item--photo"><img src="img/user__photo.png" width="" height="" title="" alt="" class="name__image"></div>
                      <div class="newusers__item newusers__item--name"><span>Константинопольский Александр Валерьянович</span></div>
                      <div class="newusers__item newusers__item--id"><span>4442</span></div>
                      <div class="newusers__item newusers__item--phone"><span>+7 931 315-31-51</span></div>
                      <div class="newusers__item newusers__item--date"><span>16.12.15, 12:35</span></div>
                    </div>
                  </div>
                  <div class="newusers__content block">
                    <div class="newusers__list"><a href="#" class="newusers__link"></a>
                      <div class="newusers__item newusers__item--warning newusers__item--warning--n2">&nbsp;</div>
                      <div class="newusers__item newusers__item--photo"><img src="img/user__photo.png" width="" height="" title="" alt="" class="name__image"></div>
                      <div class="newusers__item newusers__item--name"><span>Константинопольский Александр Валерьянович</span></div>
                      <div class="newusers__item newusers__item--id"><span>4442</span></div>
                      <div class="newusers__item newusers__item--phone"><span>+7 931 315-31-51</span></div>
                      <div class="newusers__item newusers__item--date"><span>16.12.15, 12:35</span></div>
                    </div>
                  </div>
                  <div class="newusers__content block">
                    <div class="newusers__list"><a href="#" class="newusers__link"></a>
                      <div class="newusers__item newusers__item--warning newusers__item--warning--n2">&nbsp;</div>
                      <div class="newusers__item newusers__item--photo"><img src="img/user__photo.png" width="" height="" title="" alt="" class="name__image"></div>
                      <div class="newusers__item newusers__item--name"><span>Константинопольский Александр Валерьянович</span></div>
                      <div class="newusers__item newusers__item--id"><span>4442</span></div>
                      <div class="newusers__item newusers__item--phone"><span>+7 931 315-31-51</span></div>
                      <div class="newusers__item newusers__item--date"><span>16.12.15, 12:35</span></div>
                    </div>
                  </div>
                  <div class="newusers__content block">
                    <div class="newusers__list"><a href="#" class="newusers__link"></a>
                      <div class="newusers__item newusers__item--warning newusers__item--warning--n2">&nbsp;</div>
                      <div class="newusers__item newusers__item--photo"><img src="img/user__photo.png" width="" height="" title="" alt="" class="name__image"></div>
                      <div class="newusers__item newusers__item--name"><span>Константинопольский Александр Валерьянович</span></div>
                      <div class="newusers__item newusers__item--id"><span>4442</span></div>
                      <div class="newusers__item newusers__item--phone"><span>+7 931 315-31-51</span></div>
                      <div class="newusers__item newusers__item--date"><span>16.12.15, 12:35</span></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="section__addition"><a href="#" class="btn btn__more">Показать еще</a></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
    <script src="js/libs/jquery.smoothscroll.min.js"></script>
    <script>console.log("js/libs/jquery.smoothscroll.min.js was connected!")</script>
    <script src="js/libs/jquery.scrollbar.js"></script>
    <script>console.log("js/libs/jquery.scrollbar.js was connected!")</script>
    <script src="js/jquery.functions.js"></script>
  </body>
</html>
