source/jade/manager__user.jade
append config
	- jquery = true
	- slick = false
	- featherlight = false
	- equalheight = false

extends template/template.jade

block title
	| Main

block content

	//- Sidebar

	include ./include/sidebarB.jade

	section.content

		//- Navigation

		include ./include/navigationB.jade

		.base.profile
			.container
				.row
					.s12.col
						.section__header
							h1.section__title Константинопольский Александр Валерьянович
							.section__action
								.action
									.action__list
										.action__item
											a.action__link.action__link--back(href="#") К списку агентов

						.section__content
							.profile.block
								.profile__content
									.profile__item.profile__item--photo--manager
										.profile__photo.profile__photo--manager
											img.name__image(src="img/icons/icon__nophoto.jpg", width="100", height="100", title="Нет фотографии", alt="Нет фотографии")
									.profile__item.profile__item--profile--manager
										.profile__info
											.profile__name.profile__name--phisical Константинопольский Александр Валерьянович
											.profile__other.profile__other--manager
												span.profile__disc.profile__disc--manager <em>Электронная&nbsp;почта</em>
												span.profile__value--manager mailbox@mailbox.ru
												br
												span.profile__disc.profile__disc--manager <em>Телефон</em>
												span.profile__value.profile__value--manager +7 924 541-52-72
						.profile__addition
							input.profile__submit.profile__submit--manager.btn.btn__submit.btn__submit--order(value="Зарегистрировать агента", type="submit")
							span или
							a.profile__delete(href="#") <u>удалить заявку</u>

public/manager__user.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msthemecompatible" content="no">
    <meta name="cleartype" content="on">
    <meta name="HandheldFriendly" content="True">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="description" content="Naviport &amp;mdash; Личный кабинет агента">
    <meta name="author" content="Naviport &amp;mdash; Личный кабинет агента">
    <meta name="keywords" content="">
    <meta name="publisher-email" content="">
    <meta name="publisher-url" content="">
    <link rel="shortcut icon" href="img/favicon/favicon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="img/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="img/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="img/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="img/favicon/manifest.json">
    <link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="img/favicon/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href="css/defaults.css?1459198449539" rel="stylesheet">
    <link href="css/layouts.css?1459198449539" rel="stylesheet">
    <link href="css/pages.css?1459198449539" rel="stylesheet">
    <link href="css/vendors.css?1459198449539" rel="stylesheet">
    <link href="css/develop.css?1459198449539" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=latin,cyrillic-ext,latin-ext,cyrillic" rel="stylesheet" type="text/css"><!--[if lt IE 9]>
    <script src="js/libs/html5shiv/es5-shim.min.js"></script>
    <script src="js/libs/html5shiv/html5shiv.min.js"></script>
    <script src="js/libs/html5shiv/html5shiv-printshiv.min.js"></script>
    <script src="js/libs/respond.min.js"></script><![endif]-->
    <title>Main</title>
  </head>
  <body>
    <section class="sidebar">
      <div class="sidebar__wrap scrollbar">
        <div class="logotype logotype--manager"><a href="dashboard.html" class="logotype__link"><img src="img/logotype__manager.png" width="151" height="43" title="Перейти на главную страницу Личного кабинета" alt="" class="logotype__image"></a></div>
        <div class="menu menu--manager">
          <ul class="menu__list">
            <li class="menu__item"><a href="#" class="menu__link menu__link--dashboard">Рабочий стол</a></li>
            <li class="menu__item"><a href="#" class="menu__link menu__link--orders active">Агенты</a></li>
            <li class="menu__item"><a href="#" class="menu__link menu__link--profile">Заявки</a></li>
            <li class="menu__item"><a href="#" class="menu__link menu__link--finance">Статистика</a></li>
            <li class="menu__item"><a href="#" class="menu__link menu__link--support">Техподдержка</a></li>
          </ul>
        </div>
      </div>
    </section>
    <section class="content">
      <div class="navigation">
        <div class="navigation__list">
          <div class="row">
            <div class="s4 col">
              <div class="navigation__item navigation__item--support"><img src="img/icons/icon__support--small.png" width="20" height="20" title="Сообщения от техподдержки" alt="" class="navigation__icon"><a href="#" class="navigation__link">Техподдержка</a><span class="navigation__indicator">3</span></div>
            </div>
            <div class="s1 col"></div>
            <div class="s5 col">
              <div class="navigation__item navigation__item--name"><img src="img/manager__avatar.png" width="40" height="40" title="" alt="" class="navigation__avatar"><a href="#" class="navigation__link navigation__link--manager">Елена Сон</a></div>
              <div class="navigation__item navigation__item--exit navigation__item--exit--manager"><a href="#" class="navigation__link"><img src="img/icons/icon__exit.png" width="20" height="20" title="Выйти из кабинета" alt="" class="navigation__icon"></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="base profile">
        <div class="container">
          <div class="row">
            <div class="s12 col">
              <div class="section__header">
                <h1 class="section__title">Константинопольский Александр Валерьянович</h1>
                <div class="section__action">
                  <div class="action">
                    <div class="action__list">
                      <div class="action__item"><a href="#" class="action__link action__link--back">К списку агентов</a></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="section__content">
                <div class="profile block">
                  <div class="profile__content">
                    <div class="profile__item profile__item--photo--manager">
                      <div class="profile__photo profile__photo--manager"><img src="img/icons/icon__nophoto.jpg" width="100" height="100" title="Нет фотографии" alt="Нет фотографии" class="name__image"></div>
                    </div>
                    <div class="profile__item profile__item--profile--manager">
                      <div class="profile__info">
                        <div class="profile__name profile__name--phisical">Константинопольский Александр Валерьянович</div>
                        <div class="profile__other profile__other--manager"><span class="profile__disc profile__disc--manager"><em>Электронная&nbsp;почта</em></span><span class="profile__value--manager">mailbox@mailbox.ru</span><br><span class="profile__disc profile__disc--manager"><em>Телефон</em></span><span class="profile__value profile__value--manager">+7 924 541-52-72</span></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="profile__addition">
                <input value="Зарегистрировать агента" type="submit" class="profile__submit profile__submit--manager btn btn__submit btn__submit--order"><span>или</span><a href="#" class="profile__delete"><u>удалить заявку</u></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
    <script src="js/libs/jquery.smoothscroll.min.js"></script>
    <script>console.log("js/libs/jquery.smoothscroll.min.js was connected!")</script>
    <script src="js/libs/jquery.scrollbar.js"></script>
    <script>console.log("js/libs/jquery.scrollbar.js was connected!")</script>
    <script src="js/jquery.functions.js"></script>
  </body>
</html>
