public/order__main.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msthemecompatible" content="no">
    <meta name="cleartype" content="on">
    <meta name="HandheldFriendly" content="True">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="description" content="Naviport &amp;mdash; Личный кабинет агента">
    <meta name="author" content="Naviport &amp;mdash; Личный кабинет агента">
    <meta name="keywords" content="">
    <meta name="publisher-email" content="">
    <meta name="publisher-url" content="">
    <link rel="shortcut icon" href="img/favicon/favicon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="img/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="img/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="img/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="img/favicon/manifest.json">
    <link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="img/favicon/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href="css/defaults.css?1459198450450" rel="stylesheet">
    <link href="css/layouts.css?1459198450450" rel="stylesheet">
    <link href="css/pages.css?1459198450450" rel="stylesheet">
    <link href="css/vendors.css?1459198450450" rel="stylesheet">
    <link href="css/develop.css?1459198450450" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=latin,cyrillic-ext,latin-ext,cyrillic" rel="stylesheet" type="text/css"><!--[if lt IE 9]>
    <script src="js/libs/html5shiv/es5-shim.min.js"></script>
    <script src="js/libs/html5shiv/html5shiv.min.js"></script>
    <script src="js/libs/html5shiv/html5shiv-printshiv.min.js"></script>
    <script src="js/libs/respond.min.js"></script><![endif]-->
    <title>Заявка № 01416</title>
  </head>
  <body>
    <section class="sidebar">
      <div class="sidebar__wrap scrollbar">
        <div class="logotype"><a href="dashboard.html" class="logotype__link"><img src="img/logotype.png" width="151" height="43" title="Перейти на главную страницу Личного кабинета" alt="" class="logotype__image"></a>
          <div class="create"><a href="order__add.html" class="create__link btn btn__create">Создать заявку</a></div>
        </div>
        <div class="menu">
          <ul class="menu__list">
            <li class="menu__item"><a href="dashboard.html" class="menu__link menu__link--dashboard">Рабочий стол</a></li>
            <li class="menu__item"><a href="order__list.html" class="menu__link menu__link--orders active">Заявки</a></li>
            <li class="menu__item"><a href="profile.html" class="menu__link menu__link--profile">Мой профиль</a></li>
            <li class="menu__item"><a href="finance.html" class="menu__link menu__link--finance">Финансы</a></li>
            <li class="menu__item"><a href="base.html" class="menu__link menu__link--base">База знаний</a></li>
            <li class="menu__item"><a href="tickets__list.html" class="menu__link menu__link--support">Техподдержка</a></li>
          </ul>
        </div>
        <div class="manager"><img src="img/manager__avatar.png" width="60" height="60" title="" alt="" class="manager__image">
          <div class="manager__name">Елена Сон</div>
          <div class="manager__title">Ваш менеджер</div>
          <div class="manager__phone">8 (315) 525-31-63</div>
          <div class="manager__email">elena@naviportal.ru</div>
        </div>
        <div class="support">
          <div class="support__title">Служба технической поддержки</div>
          <div class="support-b">
            <div class="support-b__phone">8-800-500-43-69</div>
            <div class="support-b__email">support@naviportal.ru</div>
          </div>
        </div>
      </div>
    </section>
    <section class="content">
      <div class="navigation">
        <div class="navigation__list">
          <div class="row">
            <div class="s4 col">
              <div class="navigation__item navigation__item--support"><img src="img/icons/icon__support--small.png" width="20" height="20" title="Сообщения от техподдержки" alt="" class="navigation__icon"><a href="#" class="navigation__link">Техподдержка</a><span class="navigation__indicator">3</span></div>
            </div>
            <div class="s1 col">
              <div class="navigation__item navigation__item--balance"><img src="img/icons/icon__finance--small.png" width="20" height="20" title="Ваш баланс" alt="" class="navigation__icon"><a href="#" title="Ваш баланс" class="navigation__link">1 386 500 <span class="rouble">₽</span></a></div>
            </div>
            <div class="s5 col">
              <div class="navigation__item navigation__item--name"><a href="#" class="navigation__link">Константиновский Александр Васильевич <span class="normal">(id: 3155)</span></a></div>
              <div class="navigation__item navigation__item--exit"><a href="#" class="navigation__link"><img src="img/icons/icon__exit.png" width="20" height="20" title="Выйти из кабинета" alt="" class="navigation__icon"></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="base">
        <div class="container">
          <div class="section__header">
            <h1 class="section__title">Заявка № 01416</h1>
            <h3 class="section__company-name">ООО «Стройсервис»</h3>
            <div class="section__action">
              <div class="action">
                <div class="action__list">
                  <div class="action__item"><a href="#" class="action__link action__link--back">К заявкам</a></div>
                  <div class="action__item"><a href="#" class="action__link action__link--add">Создать заявку</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="section__content">
            <div class="order">
              <div class="order__header">
                <div class="order__item order__item--warning"> &nbsp;</div>
                <div class="order__item order__item--date"><a href="#" class="order__sort">Дата изменений</a></div>
                <div class="order__item order__item--status"><a href="#" class="order__sort">Статус</a></div>
                <div class="order__item order__item--sum"><a href="#" class="order__sort">Сумма счета</a></div>
                <div class="order__item order__item--reward"><a href="#" class="order__sort">Агентское вознагр.</a></div>
                <div class="order__item order__item--reward-status"><a href="#" class="order__sort">Статус выплаты агентского вознагр.</a></div>
              </div>
              <div class="order__list">
                <div class="order__content">
                  <div class="order__item order__item--warning order__item--warning--n1">&nbsp;</div>
                  <div class="order__item order__item--date">16.12.15</div>
                  <div class="order__item order__item--status order__item--status--n1">Заявка создана</div>
                  <div class="order__item order__item--sum">&nbsp;</div>
                  <div class="order__item order__item--reward">&nbsp;</div>
                  <div class="order__item order__item--reward-status">&nbsp;</div>
                </div>
                <div class="order__content">
                  <div class="order__item order__item--warning order__item--warning--n1">&nbsp;</div>
                  <div class="order__item order__item--date">16.12.15</div>
                  <div class="order__item order__item--status order__item--status--n1">В работе</div>
                  <div class="order__item order__item--sum">&nbsp;</div>
                  <div class="order__item order__item--reward">&nbsp;</div>
                  <div class="order__item order__item--reward-status">&nbsp;</div>
                </div>
                <div class="order__content">
                  <div class="order__item order__item--warning order__item--warning--n2">&nbsp;</div>
                  <div class="order__item order__item--date">16.12.15</div>
                  <div class="order__item order__item--status order__item--status--n2">Ожидает оплаты</div>
                  <div class="order__item order__item--sum">103 000 <span class="rouble">₽</span></div>
                  <div class="order__item order__item--reward">&nbsp;</div>
                  <div class="order__item order__item--reward-status">&nbsp;</div>
                </div>
                <div class="order__content">
                  <div class="order__item order__item--warning order__item--warning--n2">&nbsp;</div>
                  <div class="order__item order__item--date">16.12.15</div>
                  <div class="order__item order__item--status order__item--status--n3">Оплачена</div>
                  <div class="order__item order__item--sum">103 000 <span class="rouble">₽</span></div>
                  <div class="order__item order__item--reward">15 000 <span class="rouble">₽</span></div>
                  <div class="order__item order__item--reward-status">&nbsp;</div>
                </div>
                <div class="order__content">
                  <div class="order__item order__item--warning order__item--warning--n3">&nbsp;</div>
                  <div class="order__item order__item--date">16.12.15</div>
                  <div class="order__item order__item--status order__item--status--n4">Закрыта</div>
                  <div class="order__item order__item--sum">103 000 <span class="rouble">₽</span></div>
                  <div class="order__item order__item--reward">15 000 <span class="rouble">₽</span></div>
                  <div class="order__item order__item--reward-status">Выплачен</div>
                </div>
              </div>
            </div>
            <div class="order__cycle">Цикл сделки: <span class="bigger">10 дней</span></div>
          </div>
          <div class="section__content">
            <div class="comments">
              <h2 class="comments__title">Комментарии к заявке</h2>
              <div class="comment block">
                <div class="comment__header">
                  <div class="comment__author"><span class="name">Елена Сон</span>, <span class="prof">менеджер</span></div>
                  <div class="comment__avatar"><img src="img/comment__avatar.png" width="" height="" title="" alt="" class="avatar__photo"></div>
                  <div class="comment__date">10.12.15, 14:30</div>
                </div>
                <div class="comment__content">
                  <p>Генеральный директор в отпуске, ждем согласования</p>
                </div>
              </div>
              <div class="comment block">
                <div class="comment__header">
                  <div class="comment__author"><span class="name">Елена Сон</span>, <span class="prof">менеджер</span></div>
                  <div class="comment__avatar"><img src="img/comment__avatar.png" width="" height="" title="" alt="" class="avatar__photo"></div>
                  <div class="comment__date">10.12.15, 14:30</div>
                </div>
                <div class="comment__content">
                  <p>В заявке неверно указано наименование компании клиента. Просьба сверить полное наименование и указать правильное.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
    <script src="js/libs/jquery.smoothscroll.min.js"></script>
    <script>console.log("js/libs/jquery.smoothscroll.min.js was connected!")</script>
    <script src="js/libs/jquery.scrollbar.js"></script>
    <script>console.log("js/libs/jquery.scrollbar.js was connected!")</script>
    <script src="js/jquery.functions.js"></script>
  </body>
</html>

source/jade/order__main.jade
append config
	- jquery = true
	- slick = false
	- featherlight = false
	- equalheight = false

extends template/template.jade

block title
	| Заявка № 01416

block content

	//- Sidebar

	include ./include/sidebarA.jade

	section.content

		//- Navigation

		include ./include/navigation.jade

		.base
			.container
				.section__header
					h1.section__title Заявка № 01416
					h3.section__company-name ООО «Стройсервис»
					.section__action
						.action
							.action__list
								.action__item
									a.action__link.action__link--back(href="#") К заявкам
								.action__item
									a.action__link.action__link--add(href="#") Создать заявку
				.section__content
					.order
						.order__header
							.order__item.order__item--warning  &nbsp;
							.order__item.order__item--date
								a.order__sort(href="#") Дата изменений
							.order__item.order__item--status
								a.order__sort(href="#") Статус
							.order__item.order__item--sum
								a.order__sort(href="#") Сумма счета
							.order__item.order__item--reward
								a.order__sort(href="#") Агентское вознагр.
							.order__item.order__item--reward-status
								a.order__sort(href="#") Статус выплаты агентского вознагр.
						.order__list
							.order__content
								.order__item.order__item--warning.order__item--warning--n1 &nbsp;
								.order__item.order__item--date 16.12.15
								.order__item.order__item--status.order__item--status--n1 Заявка создана
								.order__item.order__item--sum &nbsp;
								.order__item.order__item--reward &nbsp;
								.order__item.order__item--reward-status &nbsp;
							.order__content
								.order__item.order__item--warning.order__item--warning--n1 &nbsp;
								.order__item.order__item--date 16.12.15
								.order__item.order__item--status.order__item--status--n1 В работе
								.order__item.order__item--sum &nbsp;
								.order__item.order__item--reward &nbsp;
								.order__item.order__item--reward-status &nbsp;
							.order__content
								.order__item.order__item--warning.order__item--warning--n2 &nbsp;
								.order__item.order__item--date 16.12.15
								.order__item.order__item--status.order__item--status--n2 Ожидает оплаты
								.order__item.order__item--sum 103 000 <span class="rouble">₽</span>
								.order__item.order__item--reward &nbsp;
								.order__item.order__item--reward-status &nbsp;
							.order__content
								.order__item.order__item--warning.order__item--warning--n2 &nbsp;
								.order__item.order__item--date 16.12.15
								.order__item.order__item--status.order__item--status--n3 Оплачена
								.order__item.order__item--sum 103 000 <span class="rouble">₽</span>
								.order__item.order__item--reward 15 000 <span class="rouble">₽</span>
								.order__item.order__item--reward-status &nbsp;
							.order__content
								.order__item.order__item--warning.order__item--warning--n3 &nbsp;
								.order__item.order__item--date 16.12.15
								.order__item.order__item--status.order__item--status--n4 Закрыта
								.order__item.order__item--sum 103 000 <span class="rouble">₽</span>
								.order__item.order__item--reward 15 000 <span class="rouble">₽</span>
								.order__item.order__item--reward-status Выплачен
					.order__cycle Цикл сделки: <span class="bigger">10 дней</span>

				.section__content
					.comments
						h2.comments__title Комментарии к заявке
						.comment.block
							.comment__header
								.comment__author <span class="name">Елена Сон</span>, <span class="prof">менеджер</span>
								.comment__avatar
									img.avatar__photo(src="img/comment__avatar.png", width="", height="", title="", alt="")
								.comment__date 10.12.15, 14:30
							.comment__content
								p Генеральный директор в отпуске, ждем согласования
						.comment.block
							.comment__header
								.comment__author <span class="name">Елена Сон</span>, <span class="prof">менеджер</span>
								.comment__avatar
									img.avatar__photo(src="img/comment__avatar.png", width="", height="", title="", alt="")
								.comment__date 10.12.15, 14:30
							.comment__content
								p В заявке неверно указано наименование компании клиента. Просьба сверить полное наименование и указать правильное.
