public/order__add.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msthemecompatible" content="no">
    <meta name="cleartype" content="on">
    <meta name="HandheldFriendly" content="True">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="description" content="Naviport &amp;mdash; Личный кабинет агента">
    <meta name="author" content="Naviport &amp;mdash; Личный кабинет агента">
    <meta name="keywords" content="">
    <meta name="publisher-email" content="">
    <meta name="publisher-url" content="">
    <link rel="shortcut icon" href="img/favicon/favicon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="img/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="img/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="img/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="img/favicon/manifest.json">
    <link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="img/favicon/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href="css/defaults.css?1459198449974" rel="stylesheet">
    <link href="css/layouts.css?1459198449974" rel="stylesheet">
    <link href="css/pages.css?1459198449974" rel="stylesheet">
    <link href="css/vendors.css?1459198449974" rel="stylesheet">
    <link href="css/develop.css?1459198449974" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=latin,cyrillic-ext,latin-ext,cyrillic" rel="stylesheet" type="text/css"><!--[if lt IE 9]>
    <script src="js/libs/html5shiv/es5-shim.min.js"></script>
    <script src="js/libs/html5shiv/html5shiv.min.js"></script>
    <script src="js/libs/html5shiv/html5shiv-printshiv.min.js"></script>
    <script src="js/libs/respond.min.js"></script><![endif]-->
    <title>Создать заявку</title>
  </head>
  <body>
    <section class="sidebar">
      <div class="sidebar__wrap scrollbar">
        <div class="logotype"><a href="dashboard.html" class="logotype__link"><img src="img/logotype.png" width="151" height="43" title="Перейти на главную страницу Личного кабинета" alt="" class="logotype__image"></a>
          <div class="create"><a href="order__add.html" class="create__link btn btn__create">Создать заявку</a></div>
        </div>
        <div class="menu">
          <ul class="menu__list">
            <li class="menu__item"><a href="dashboard.html" class="menu__link menu__link--dashboard">Рабочий стол</a></li>
            <li class="menu__item"><a href="order__list.html" class="menu__link menu__link--orders active">Заявки</a></li>
            <li class="menu__item"><a href="profile.html" class="menu__link menu__link--profile">Мой профиль</a></li>
            <li class="menu__item"><a href="finance.html" class="menu__link menu__link--finance">Финансы</a></li>
            <li class="menu__item"><a href="base.html" class="menu__link menu__link--base">База знаний</a></li>
            <li class="menu__item"><a href="tickets__list.html" class="menu__link menu__link--support">Техподдержка</a></li>
          </ul>
        </div>
        <div class="manager"><img src="img/manager__avatar.png" width="60" height="60" title="" alt="" class="manager__image">
          <div class="manager__name">Елена Сон</div>
          <div class="manager__title">Ваш менеджер</div>
          <div class="manager__phone">8 (315) 525-31-63</div>
          <div class="manager__email">elena@naviportal.ru</div>
        </div>
        <div class="support">
          <div class="support__title">Служба технической поддержки</div>
          <div class="support-b">
            <div class="support-b__phone">8-800-500-43-69</div>
            <div class="support-b__email">support@naviportal.ru</div>
          </div>
        </div>
      </div>
    </section>
    <section class="content">
      <div class="navigation">
        <div class="navigation__list">
          <div class="row">
            <div class="s4 col">
              <div class="navigation__item navigation__item--support"><img src="img/icons/icon__support--small.png" width="20" height="20" title="Сообщения от техподдержки" alt="" class="navigation__icon"><a href="#" class="navigation__link">Техподдержка</a><span class="navigation__indicator">3</span></div>
            </div>
            <div class="s1 col">
              <div class="navigation__item navigation__item--balance"><img src="img/icons/icon__finance--small.png" width="20" height="20" title="Ваш баланс" alt="" class="navigation__icon"><a href="#" title="Ваш баланс" class="navigation__link">1 386 500 <span class="rouble">₽</span></a></div>
            </div>
            <div class="s5 col">
              <div class="navigation__item navigation__item--name"><a href="#" class="navigation__link">Константиновский Александр Васильевич <span class="normal">(id: 3155)</span></a></div>
              <div class="navigation__item navigation__item--exit"><a href="#" class="navigation__link"><img src="img/icons/icon__exit.png" width="20" height="20" title="Выйти из кабинета" alt="" class="navigation__icon"></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="base">
        <div class="container">
          <div class="section__header">
            <h1 class="section__title">Создать заявку</h1>
            <div class="section__action">
              <div class="action">
                <div class="action__list">
                  <div class="action__item"><a href="#" class="action__link action__link--back">К списку заявок</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="section__content">
            <div class="data">
              <h3 class="data__title">1. Данные клиента</h3>
              <div class="data__content block">
                <form id="" method="" action="" class="data__form">
                  <div class="data__item">
                    <label for="client" class="data__label">Клиент</label>
                    <input name="client" id="client" type="text" placeholder="Фамилия Имя Отчество" required class="data__field invalid">
                  </div>
                  <div class="data__item">
                    <label for="file" class="data__label">Файл с реквизитами</label>
                    <input name="file" id="file" type="file" required class="data__field">
                  </div>
                  <div class="data__item">
                    <label class="data__label data__label--empty">&nbsp;</label><span class="claim__uploadinfo">При необходимости загрузите файл. <br />Форматы: jpg, png, gif, pdf.</span>
                  </div>
                  <div class="data__item">
                    <label for="name" class="data__label">Контактное лицо&nbsp;&nbsp;&nbsp;</label>
                    <input name="name" id="name" type="text" placeholder="Фамилия Имя Отчество" required class="data__field">
                  </div>
                  <div class="data__item">
                    <label for="phone" class="data__label">Контактный телефон</label>
                    <input name="phone" id="phone" type="text" placeholder="0 (000) 000-00-00" required class="data__field">
                  </div>
                  <div class="data__item">
                    <label for="email" class="data__label">Электронная почта</label>
                    <input name="email" id="email" type="text" placeholder="name@domain.ru" required class="data__field">
                  </div>
                </form>
              </div>
            </div>
            <div class="info">
              <h3 class="info__title">2. Информация о заказе</h3>
              <div class="info__content block">
                <form id="" method="" action="" class="info__form">
                  <div class="info__item">
                    <label for="tc" class="info__label">Кол-во ТС</label>
                    <input name="tc" id="tc" type="number" min="0" value="0" class="info__num">
                  </div>
                  <div class="info__item">
                    <label for="tc-name" class="info__label">Марка ТС</label>
                    <input name="tc-name" id="tc-name" type="text" placeholder="Укажите через запятую Марки ТС" required class="info__field">
                  </div>
                  <div class="info__item">
                    <label for="speed" class="info__label">Спидометр</label>
                    <input name="speed" id="speed1" type="radio" checked class="info__radio">
                    <label for="speed1" class="info__label--radio">Электронный</label>
                    <input name="speed" id="speed2" type="radio" class="info__radio">
                    <label for="speed2" class="info__label--radio">Механический</label>
                  </div>
                  <div class="info__item">
                    <input name="way" id="way" type="checkbox" class="info__checkbox checkbox__call">
                    <label for="way" class="info__label--checkbox">Требуется выезд к заказчику</label>
                  </div>
                  <div id="checkbox__call">
                    <div class="info__item info__item--textarea">
                      <label for="address" class="info__label">Адрес заказчика&nbsp;&nbsp;&nbsp;</label>
                      <textarea name="address" id="address" placeholder="" rows="5" required class="claim__message"></textarea>
                    </div>
                    <div class="info__item info__item--textarea">
                      <label for="comment" class="info__label">Комментарий к&nbsp;заказу</label>
                      <textarea name="comment" id="comment" placeholder="" rows="5" required class="claim__message"></textarea>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="goods">
              <h3 class="goods__title">3. Товары и услуги</h3>
              <div class="goods__content block">
                <form id="" method="" action="" class="goods__form">
                  <div class="goods__item">
                    <label for="theme" class="goods__label">Вид тахографа</label>
                    <div class="goods__select">
                      <select name="theme" id="theme" required autofocus class="goods__field">
                        <option>Меркурий ТА-001</option>
                        <option>Другое</option>
                      </select>
                    </div>
                  </div>
                  <div class="goods__item goods__blocks">
                    <div class="row">
                      <div class="s3 col">
                        <div class="goods-b">
                          <label for="num1" class="goods-b__label">Установка тахографа «под ключ», шт.</label>
                          <input name="num1" id="num1" type="number" min="0" value="0" class="info__num">
                        </div>
                      </div>
                      <div class="s3 col">
                        <div class="goods-b">
                          <label for="num2" class="goods-b__label">Калибровка цифрового тахографа, шт.</label>
                          <input name="num2" id="num2" type="number" min="0" value="0" class="info__num">
                        </div>
                      </div>
                      <div class="s3 col">
                        <div class="goods-b">
                          <label for="num3" class="goods-b__label">Калибровка шайбового тахографа, шт.</label>
                          <input name="num3" id="num3" type="number" min="0" value="0" class="info__num">
                        </div>
                      </div>
                      <div class="s3 col">
                        <div class="goods-b">
                          <label for="num4" class="goods-b__label">Карта водителя СКЗИ, шт.</label>
                          <input name="num4" id="num4" type="number" min="0" value="0" class="info__num">
                        </div>
                      </div>
                      <div class="s3 col">
                        <div class="goods-b">
                          <label for="num5" class="goods-b__label">Карта водителя ЕСТР, шт.</label>
                          <input name="num5" id="num5" type="number" min="0" value="0" class="info__num">
                        </div>
                      </div>
                      <div class="s3 col">
                        <div class="goods-b">
                          <label for="num6" class="goods-b__label">Карта предприятия СКЗИ, шт.</label>
                          <input name="num6" id="num6" type="number" min="0" value="0" class="info__num">
                        </div>
                      </div>
                      <div class="s3 col">
                        <div class="goods-b">
                          <label for="num7" class="goods-b__label">Карта предприятия ЕСТР, шт.</label>
                          <input name="num7" id="num7" type="number" min="0" value="0" class="info__num">
                        </div>
                      </div>
                      <div class="s3 col">
                        <div class="goods-b">
                          <label for="num8" class="goods-b__label">Считыватель карт тахографа, шт.</label>
                          <input name="num8" id="num8" type="number" min="0" value="0" class="info__num">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="goods__item goods__item--checkbox">
                    <input name="serve" id="serve" type="checkbox" class="goods__checkbox">
                    <label for="serve" class="goods__label--checkbox">Годовое обслуживание тахографа</label>
                  </div>
                  <div class="goods__item goods__item--checkbox">
                    <input name="complex" id="complex" type="checkbox" checked class="goods__checkbox">
                    <label for="complex" class="goods__label--checkbox">Комплексный сервис по считыванию и анализу данных с тахографа</label>
                  </div>
                  <div class="goods__goods goods__item--textarea">
                    <label for="comment2" class="goods__label">Комментарий</label>
                    <textarea name="comment2" id="comment2" placeholder="" rows="5" class="claim__message"></textarea>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="claim__addition">
            <input value="Создать заявку" type="submit" class="claim__submit btn btn__submit btn__submit--order">
            <div class="claim__warning">Все необходимые поля заполнены, вы можете отправить заявку</div>
          </div>
        </div>
      </div>
    </section>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
    <script src="js/libs/jquery.smoothscroll.min.js"></script>
    <script>console.log("js/libs/jquery.smoothscroll.min.js was connected!")</script>
    <script src="js/libs/jquery.scrollbar.js"></script>
    <script>console.log("js/libs/jquery.scrollbar.js was connected!")</script>
    <script src="js/jquery.functions.js"></script>
  </body>
</html>

source/jade/order__add.jade
append config
	- jquery = true
	- slick = false
	- featherlight = false
	- equalheight = false

extends template/template.jade

block title
	| Создать заявку

block content

	//- Sidebar

	include ./include/sidebarA.jade

	section.content

		//- Navigation

		include ./include/navigation.jade

		.base
			.container
				.section__header
					h1.section__title Создать заявку
					.section__action
						.action
							.action__list
								.action__item
									a.action__link.action__link--back(href="#") К списку заявок

				.section__content

					.data
						h3.data__title 1. Данные клиента
						.data__content.block
							form.data__form(id="", method="", action="")
								.data__item
									label.data__label(for="client") Клиент
									input.data__field.invalid(name="client", id="client", type="text", placeholder="Фамилия Имя Отчество", required)
									//- label.data__filelabel(for="file") <u>Загрузить файл<br />с реквизитами</u>
									//- input.data__file(name="file", id="file", type="file")
								.data__item
									label.data__label(for="file") Файл с реквизитами
									input.data__field(name="file", id="file", type="file", required)
								.data__item
									label.data__label.data__label--empty &nbsp;
									span.claim__uploadinfo При необходимости загрузите файл. <br />Форматы: jpg, png, gif, pdf.
								.data__item
									label.data__label(for="name") Контактное лицо&nbsp;&nbsp;&nbsp;
									input.data__field(name="name", id="name", type="text", placeholder="Фамилия Имя Отчество", required)
								.data__item
									label.data__label(for="phone") Контактный телефон
									input.data__field(name="phone", id="phone", type="text", placeholder="0 (000) 000-00-00", required)
								.data__item
									label.data__label(for="email") Электронная почта
									input.data__field(name="email", id="email", type="text", placeholder="name@domain.ru", required)

					.info
						h3.info__title 2. Информация о заказе
						.info__content.block
							form.info__form(id="", method="", action="")
								.info__item
									label.info__label(for="tc") Кол-во ТС
									input.info__num(name="tc", id="tc", type="number", min="0", value="0")
								.info__item
									label.info__label(for="tc-name") Марка ТС
									input.info__field(name="tc-name", id="tc-name", type="text", placeholder="Укажите через запятую Марки ТС", required)
								.info__item
									label.info__label(for="speed") Спидометр
									input.info__radio(name="speed", id="speed1", type="radio", checked)
									label.info__label--radio(for="speed1") Электронный
									input.info__radio(name="speed", id="speed2", type="radio")
									label.info__label--radio(for="speed2") Механический
								.info__item
									input.info__checkbox.checkbox__call(name="way", id="way", type="checkbox")
									label.info__label--checkbox(for="way") Требуется выезд к заказчику
								#checkbox__call
									.info__item.info__item--textarea
										label.info__label(for="address") Адрес заказчика&nbsp;&nbsp;&nbsp;
										textarea.claim__message(name="address", id="address", placeholder="", rows="5", required)
									.info__item.info__item--textarea
										label.info__label(for="comment") Комментарий к&nbsp;заказу
										textarea.claim__message(name="comment", id="comment", placeholder="", rows="5", required)

					.goods
						h3.goods__title 3. Товары и услуги
						.goods__content.block
							form.goods__form(id="", method="", action="")
								.goods__item
									label.goods__label(for="theme") Вид тахографа
									.goods__select
										select.goods__field(name="theme", id="theme", required, autofocus)
											option Меркурий ТА-001
											option Другое
								.goods__item.goods__blocks
									.row
										.s3.col
											.goods-b
												label.goods-b__label(for="num1") Установка тахографа «под ключ», шт.
												input.info__num(name="num1", id="num1", type="number", min="0", value="0")
										.s3.col
											.goods-b
												label.goods-b__label(for="num2") Калибровка цифрового тахографа, шт.
												input.info__num(name="num2", id="num2", type="number", min="0", value="0")
										.s3.col
											.goods-b
												label.goods-b__label(for="num3") Калибровка шайбового тахографа, шт.
												input.info__num(name="num3", id="num3", type="number", min="0", value="0")
										.s3.col
											.goods-b
												label.goods-b__label(for="num4") Карта водителя СКЗИ, шт.
												input.info__num(name="num4", id="num4", type="number", min="0", value="0")
										.s3.col
											.goods-b
												label.goods-b__label(for="num5") Карта водителя ЕСТР, шт.
												input.info__num(name="num5", id="num5", type="number", min="0", value="0")
										.s3.col
											.goods-b
												label.goods-b__label(for="num6") Карта предприятия СКЗИ, шт.
												input.info__num(name="num6", id="num6", type="number", min="0", value="0")
										.s3.col
											.goods-b
												label.goods-b__label(for="num7") Карта предприятия ЕСТР, шт.
												input.info__num(name="num7", id="num7", type="number", min="0", value="0")
										.s3.col
											.goods-b
												label.goods-b__label(for="num8") Считыватель карт тахографа, шт.
												input.info__num(name="num8", id="num8", type="number", min="0", value="0")
								.goods__item.goods__item--checkbox
									input.goods__checkbox(name="serve", id="serve", type="checkbox")
									label.goods__label--checkbox(for="serve") Годовое обслуживание тахографа
								.goods__item.goods__item--checkbox
									input.goods__checkbox(name="complex", id="complex", type="checkbox", checked)
									label.goods__label--checkbox(for="complex") Комплексный сервис по считыванию и анализу данных с тахографа
								.goods__goods.goods__item--textarea
									label.goods__label(for="comment2") Комментарий
									textarea.claim__message(name="comment2", id="comment2", placeholder="", rows="5")
				.claim__addition
					input.claim__submit.btn.btn__submit.btn__submit--order(value="Создать заявку", type="submit")
					.claim__warning Все необходимые поля заполнены, вы можете отправить заявку
