source/jade/order__list.jade
append config
	- jquery = true
	- slick = false
	- featherlight = false
	- equalheight = false

extends template/template.jade

block title
	| Ваши заявки

block content

	//- Sidebar

	include ./include/sidebarA.jade

	section.content

		//- Navigation

		include ./include/navigation.jade

		.base
			.container
				.section__header
					h1.section__title Ваши заявки
					.section__action
						.action
							.action__list
								.action__item
									a.action__link.action__link--add(href="#") Создать заявку

				.section__content

					.order-list
						.order-list__date
							.order-list__date--m-y Декабрь 2012
						.order-list__header
							.order-list__item.order-list__item--warning &nbsp;
							.order-list__item.order-list__item--num
								a.order-list__sort(href="#") №
							.order-list__item.order-list__item--date
								a.order-list__sort(href="#") Дата<br />изменений
							.order-list__item.order-list__item--company
								a.order-list__sort(href="#") Наименование<br />компании
							.order-list__item.order-list__item--sum
								a.order-list__sort(href="#") Сумма<br />счета
							.order-list__item.order-list__item--reward
								a.order-list__sort(href="#") Агентское<br />вознагр.
							.order-list__item.order-list__item--status
								a.order-list__sort(href="#") Статус
							.order-list__item.order-list__item--reward-status
								a.order-list__sort(href="#") Статус выплаты <br />агентского вознагр.
						.order-list__list
							a.order-list__link(href="#")
								.order-list__content
									.order-list__item.order-list__item--warning.order-list__item--warning--n1 &nbsp;
									.order-list__item.order-list__item--num 00000
									.order-list__item.order-list__item--date 16.02.16
									.order-list__item.order-list__item--company «Стройсервис»
									.order-list__item.order-list__item--sum <span class="none">&mdash;&mdash;</span>
									.order-list__item.order-list__item--reward <span class="none">&mdash;&mdash;</span>
									.order-list__item.order-list__item--status.order-list__item--status--n1
										span.status__dfn Заявка создана
									.order-list__item.order-list__item--reward-status <span class="none">&mdash;&mdash;</span>
							a.order-list__link(href="#")
								.order-list__content
									.order-list__item.order-list__item--warning.order-list__item--warning--n2 &nbsp;
									.order-list__item.order-list__item--num 00000
									.order-list__item.order-list__item--date 16.02.16
									.order-list__item.order-list__item--company «Стройсервис»
									.order-list__item.order-list__item--sum 103 000 <span class="rouble">₽</span>
									.order-list__item.order-list__item--reward <span class="none">&mdash;&mdash;</span>
									.order-list__item.order-list__item--status.order-list__item--status--n2
										span.status__dfn Ожидает оплаты
									.order-list__item.order-list__item--reward-status <span class="none">&mdash;&mdash;</span>
							a.order-list__link(href="#")
								.order-list__content
									.order-list__item.order-list__item--warning.order-list__item--warning--n2 &nbsp;
									.order-list__item.order-list__item--num 00000
									.order-list__item.order-list__item--date 16.02.16
									.order-list__item.order-list__item--company «Стройсервис»
									.order-list__item.order-list__item--sum 123 000 <span class="rouble">₽</span>
									.order-list__item.order-list__item--reward 50 000 <span class="rouble">₽</span>
									.order-list__item.order-list__item--status.order-list__item--status--n3
										span.status__dfn Оплачено
									.order-list__item.order-list__item--reward-status <span class="none">&mdash;&mdash;</span>

					.order-list
						.order-list__date
							.order-list__date--m-y Ноябрь 2012
						.order-list__header
							.order-list__item.order-list__item--warning &nbsp;
							.order-list__item.order-list__item--num
								a.order-list__sort(href="#") №
							.order-list__item.order-list__item--date
								a.order-list__sort(href="#") Дата<br />изменений
							.order-list__item.order-list__item--company
								a.order-list__sort(href="#") Наименование<br />компании
							.order-list__item.order-list__item--sum
								a.order-list__sort(href="#") Сумма<br />счета
							.order-list__item.order-list__item--reward
								a.order-list__sort(href="#") Агентское<br />вознагр.
							.order-list__item.order-list__item--status
								a.order-list__sort(href="#") Статус
							.order-list__item.order-list__item--reward-status
								a.order-list__sort(href="#") Статус выплаты<br />агентского вознагр.
						.order-list__list

							a.order-list__link(href="#")
								.order-list__content
									.order-list__item.order-list__item--warning.order-list__item--warning--n4 &nbsp;
									.order-list__item.order-list__item--num 00000
									.order-list__item.order-list__item--date 16.02.16
									.order-list__item.order-list__item--company «Стройсервис»
									.order-list__item.order-list__item--sum <span class="none">&mdash;&mdash;</span>
									.order-list__item.order-list__item--reward <span class="none">&mdash;&mdash;</span>
									.order-list__item.order-list__item--status.order-list__item--status--n5
										span.status__dfn Временно <br />приостановлена
									.order-list__item.order-list__item--reward-status <span class="none">&mdash;&mdash;</span>

					.order-list
						.order-list__date
							.order-list__date--m-y Октябрь 2012
						.order-list__header
							.order-list__item.order-list__item--warning &nbsp;
							.order-list__item.order-list__item--num
								a.order-list__sort(href="#") №
							.order-list__item.order-list__item--date
								a.order-list__sort(href="#") Дата<br />изменений
							.order-list__item.order-list__item--company
								a.order-list__sort(href="#") Наименование<br />компании
							.order-list__item.order-list__item--sum
								a.order-list__sort(href="#") Сумма<br />счета
							.order-list__item.order-list__item--reward
								a.order-list__sort(href="#") Агентское<br />вознагр.
							.order-list__item.order-list__item--status
								a.order-list__sort(href="#") Статус
							.order-list__item.order-list__item--reward-status
								a.order-list__sort(href="#") Статус выплаты<br />агентского вознагр.
						.order-list__list

							a.order-list__link(href="#")
								.order-list__content
									.order-list__item.order-list__item--warning.order-list__item--warning--n1 &nbsp;
									.order-list__item.order-list__item--num 00000
									.order-list__item.order-list__item--date 16.02.16
									.order-list__item.order-list__item--company «Стройсервис»
									.order-list__item.order-list__item--sum <span class="none">&mdash;&mdash;</span>
									.order-list__item.order-list__item--reward <span class="none">&mdash;&mdash;</span>
									.order-list__item.order-list__item--status.order-list__item--status--n1
										span.status__dfn В работе
									.order-list__item.order-list__item--reward-status <span class="none">&mdash;&mdash;</span>

							a.order-list__link(href="#")
								.order-list__content.order-list__content--paid
									.order-list__item.order-list__item--warning.order-list__item--warning--n3 &nbsp;
									.order-list__item.order-list__item--num 00000
									.order-list__item.order-list__item--date 16.02.16
									.order-list__item.order-list__item--company «Стройсервис»
									.order-list__item.order-list__item--sum 103 000 <span class="rouble">₽</span>
									.order-list__item.order-list__item--reward <span class="none">&mdash;&mdash;</span>
									.order-list__item.order-list__item--status.order-list__item--status--n4
										span.status__dfn Закрыта
									.order-list__item.order-list__item--reward-status Выплачен
							a.order-list__link(href="#")
								.order-list__content
									.order-list__item.order-list__item--warning.order-list__item--warning--n1 &nbsp;
									.order-list__item.order-list__item--num 00000
									.order-list__item.order-list__item--date 16.02.16
									.order-list__item.order-list__item--company «Стройсервис»
									.order-list__item.order-list__item--sum 123 000 <span class="rouble">₽</span>
									.order-list__item.order-list__item--reward 50 000 <span class="rouble">₽</span>
									.order-list__item.order-list__item--status.order-list__item--status--n4
										span.status__dfn Закрыта
									.order-list__item.order-list__item--reward-status.order-list__item--reward-status--n1 Начислен

				.section__addition
					a.btn.btn__archive(href='#') Архив заявок

public/order__list.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msthemecompatible" content="no">
    <meta name="cleartype" content="on">
    <meta name="HandheldFriendly" content="True">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="description" content="Naviport &amp;mdash; Личный кабинет агента">
    <meta name="author" content="Naviport &amp;mdash; Личный кабинет агента">
    <meta name="keywords" content="">
    <meta name="publisher-email" content="">
    <meta name="publisher-url" content="">
    <link rel="shortcut icon" href="img/favicon/favicon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="img/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="img/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="img/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="img/favicon/manifest.json">
    <link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="img/favicon/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href="css/defaults.css?1459198450295" rel="stylesheet">
    <link href="css/layouts.css?1459198450295" rel="stylesheet">
    <link href="css/pages.css?1459198450295" rel="stylesheet">
    <link href="css/vendors.css?1459198450295" rel="stylesheet">
    <link href="css/develop.css?1459198450295" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=latin,cyrillic-ext,latin-ext,cyrillic" rel="stylesheet" type="text/css"><!--[if lt IE 9]>
    <script src="js/libs/html5shiv/es5-shim.min.js"></script>
    <script src="js/libs/html5shiv/html5shiv.min.js"></script>
    <script src="js/libs/html5shiv/html5shiv-printshiv.min.js"></script>
    <script src="js/libs/respond.min.js"></script><![endif]-->
    <title>Ваши заявки</title>
  </head>
  <body>
    <section class="sidebar">
      <div class="sidebar__wrap scrollbar">
        <div class="logotype"><a href="dashboard.html" class="logotype__link"><img src="img/logotype.png" width="151" height="43" title="Перейти на главную страницу Личного кабинета" alt="" class="logotype__image"></a>
          <div class="create"><a href="order__add.html" class="create__link btn btn__create">Создать заявку</a></div>
        </div>
        <div class="menu">
          <ul class="menu__list">
            <li class="menu__item"><a href="dashboard.html" class="menu__link menu__link--dashboard">Рабочий стол</a></li>
            <li class="menu__item"><a href="order__list.html" class="menu__link menu__link--orders active">Заявки</a></li>
            <li class="menu__item"><a href="profile.html" class="menu__link menu__link--profile">Мой профиль</a></li>
            <li class="menu__item"><a href="finance.html" class="menu__link menu__link--finance">Финансы</a></li>
            <li class="menu__item"><a href="base.html" class="menu__link menu__link--base">База знаний</a></li>
            <li class="menu__item"><a href="tickets__list.html" class="menu__link menu__link--support">Техподдержка</a></li>
          </ul>
        </div>
        <div class="manager"><img src="img/manager__avatar.png" width="60" height="60" title="" alt="" class="manager__image">
          <div class="manager__name">Елена Сон</div>
          <div class="manager__title">Ваш менеджер</div>
          <div class="manager__phone">8 (315) 525-31-63</div>
          <div class="manager__email">elena@naviportal.ru</div>
        </div>
        <div class="support">
          <div class="support__title">Служба технической поддержки</div>
          <div class="support-b">
            <div class="support-b__phone">8-800-500-43-69</div>
            <div class="support-b__email">support@naviportal.ru</div>
          </div>
        </div>
      </div>
    </section>
    <section class="content">
      <div class="navigation">
        <div class="navigation__list">
          <div class="row">
            <div class="s4 col">
              <div class="navigation__item navigation__item--support"><img src="img/icons/icon__support--small.png" width="20" height="20" title="Сообщения от техподдержки" alt="" class="navigation__icon"><a href="#" class="navigation__link">Техподдержка</a><span class="navigation__indicator">3</span></div>
            </div>
            <div class="s1 col">
              <div class="navigation__item navigation__item--balance"><img src="img/icons/icon__finance--small.png" width="20" height="20" title="Ваш баланс" alt="" class="navigation__icon"><a href="#" title="Ваш баланс" class="navigation__link">1 386 500 <span class="rouble">₽</span></a></div>
            </div>
            <div class="s5 col">
              <div class="navigation__item navigation__item--name"><a href="#" class="navigation__link">Константиновский Александр Васильевич <span class="normal">(id: 3155)</span></a></div>
              <div class="navigation__item navigation__item--exit"><a href="#" class="navigation__link"><img src="img/icons/icon__exit.png" width="20" height="20" title="Выйти из кабинета" alt="" class="navigation__icon"></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="base">
        <div class="container">
          <div class="section__header">
            <h1 class="section__title">Ваши заявки</h1>
            <div class="section__action">
              <div class="action">
                <div class="action__list">
                  <div class="action__item"><a href="#" class="action__link action__link--add">Создать заявку</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="section__content">
            <div class="order-list">
              <div class="order-list__date">
                <div class="order-list__date--m-y">Декабрь 2012</div>
              </div>
              <div class="order-list__header">
                <div class="order-list__item order-list__item--warning">&nbsp;</div>
                <div class="order-list__item order-list__item--num"><a href="#" class="order-list__sort">№</a></div>
                <div class="order-list__item order-list__item--date"><a href="#" class="order-list__sort">Дата<br />изменений</a></div>
                <div class="order-list__item order-list__item--company"><a href="#" class="order-list__sort">Наименование<br />компании</a></div>
                <div class="order-list__item order-list__item--sum"><a href="#" class="order-list__sort">Сумма<br />счета</a></div>
                <div class="order-list__item order-list__item--reward"><a href="#" class="order-list__sort">Агентское<br />вознагр.</a></div>
                <div class="order-list__item order-list__item--status"><a href="#" class="order-list__sort">Статус</a></div>
                <div class="order-list__item order-list__item--reward-status"><a href="#" class="order-list__sort">Статус выплаты <br />агентского вознагр.</a></div>
              </div>
              <div class="order-list__list"><a href="#" class="order-list__link">
                  <div class="order-list__content">
                    <div class="order-list__item order-list__item--warning order-list__item--warning--n1">&nbsp;</div>
                    <div class="order-list__item order-list__item--num">00000</div>
                    <div class="order-list__item order-list__item--date">16.02.16</div>
                    <div class="order-list__item order-list__item--company">«Стройсервис»</div>
                    <div class="order-list__item order-list__item--sum"><span class="none">&mdash;&mdash;</span></div>
                    <div class="order-list__item order-list__item--reward"><span class="none">&mdash;&mdash;</span></div>
                    <div class="order-list__item order-list__item--status order-list__item--status--n1"><span class="status__dfn">Заявка создана</span></div>
                    <div class="order-list__item order-list__item--reward-status"><span class="none">&mdash;&mdash;</span></div>
                  </div></a><a href="#" class="order-list__link">
                  <div class="order-list__content">
                    <div class="order-list__item order-list__item--warning order-list__item--warning--n2">&nbsp;</div>
                    <div class="order-list__item order-list__item--num">00000</div>
                    <div class="order-list__item order-list__item--date">16.02.16</div>
                    <div class="order-list__item order-list__item--company">«Стройсервис»</div>
                    <div class="order-list__item order-list__item--sum">103 000 <span class="rouble">₽</span></div>
                    <div class="order-list__item order-list__item--reward"><span class="none">&mdash;&mdash;</span></div>
                    <div class="order-list__item order-list__item--status order-list__item--status--n2"><span class="status__dfn">Ожидает оплаты</span></div>
                    <div class="order-list__item order-list__item--reward-status"><span class="none">&mdash;&mdash;</span></div>
                  </div></a><a href="#" class="order-list__link">
                  <div class="order-list__content">
                    <div class="order-list__item order-list__item--warning order-list__item--warning--n2">&nbsp;</div>
                    <div class="order-list__item order-list__item--num">00000</div>
                    <div class="order-list__item order-list__item--date">16.02.16</div>
                    <div class="order-list__item order-list__item--company">«Стройсервис»</div>
                    <div class="order-list__item order-list__item--sum">123 000 <span class="rouble">₽</span></div>
                    <div class="order-list__item order-list__item--reward">50 000 <span class="rouble">₽</span></div>
                    <div class="order-list__item order-list__item--status order-list__item--status--n3"><span class="status__dfn">Оплачено</span></div>
                    <div class="order-list__item order-list__item--reward-status"><span class="none">&mdash;&mdash;</span></div>
                  </div></a></div>
            </div>
            <div class="order-list">
              <div class="order-list__date">
                <div class="order-list__date--m-y">Ноябрь 2012</div>
              </div>
              <div class="order-list__header">
                <div class="order-list__item order-list__item--warning">&nbsp;</div>
                <div class="order-list__item order-list__item--num"><a href="#" class="order-list__sort">№</a></div>
                <div class="order-list__item order-list__item--date"><a href="#" class="order-list__sort">Дата<br />изменений</a></div>
                <div class="order-list__item order-list__item--company"><a href="#" class="order-list__sort">Наименование<br />компании</a></div>
                <div class="order-list__item order-list__item--sum"><a href="#" class="order-list__sort">Сумма<br />счета</a></div>
                <div class="order-list__item order-list__item--reward"><a href="#" class="order-list__sort">Агентское<br />вознагр.</a></div>
                <div class="order-list__item order-list__item--status"><a href="#" class="order-list__sort">Статус</a></div>
                <div class="order-list__item order-list__item--reward-status"><a href="#" class="order-list__sort">Статус выплаты<br />агентского вознагр.</a></div>
              </div>
              <div class="order-list__list"><a href="#" class="order-list__link">
                  <div class="order-list__content">
                    <div class="order-list__item order-list__item--warning order-list__item--warning--n4">&nbsp;</div>
                    <div class="order-list__item order-list__item--num">00000</div>
                    <div class="order-list__item order-list__item--date">16.02.16</div>
                    <div class="order-list__item order-list__item--company">«Стройсервис»</div>
                    <div class="order-list__item order-list__item--sum"><span class="none">&mdash;&mdash;</span></div>
                    <div class="order-list__item order-list__item--reward"><span class="none">&mdash;&mdash;</span></div>
                    <div class="order-list__item order-list__item--status order-list__item--status--n5"><span class="status__dfn">Временно <br />приостановлена</span></div>
                    <div class="order-list__item order-list__item--reward-status"><span class="none">&mdash;&mdash;</span></div>
                  </div></a></div>
            </div>
            <div class="order-list">
              <div class="order-list__date">
                <div class="order-list__date--m-y">Октябрь 2012</div>
              </div>
              <div class="order-list__header">
                <div class="order-list__item order-list__item--warning">&nbsp;</div>
                <div class="order-list__item order-list__item--num"><a href="#" class="order-list__sort">№</a></div>
                <div class="order-list__item order-list__item--date"><a href="#" class="order-list__sort">Дата<br />изменений</a></div>
                <div class="order-list__item order-list__item--company"><a href="#" class="order-list__sort">Наименование<br />компании</a></div>
                <div class="order-list__item order-list__item--sum"><a href="#" class="order-list__sort">Сумма<br />счета</a></div>
                <div class="order-list__item order-list__item--reward"><a href="#" class="order-list__sort">Агентское<br />вознагр.</a></div>
                <div class="order-list__item order-list__item--status"><a href="#" class="order-list__sort">Статус</a></div>
                <div class="order-list__item order-list__item--reward-status"><a href="#" class="order-list__sort">Статус выплаты<br />агентского вознагр.</a></div>
              </div>
              <div class="order-list__list"><a href="#" class="order-list__link">
                  <div class="order-list__content">
                    <div class="order-list__item order-list__item--warning order-list__item--warning--n1">&nbsp;</div>
                    <div class="order-list__item order-list__item--num">00000</div>
                    <div class="order-list__item order-list__item--date">16.02.16</div>
                    <div class="order-list__item order-list__item--company">«Стройсервис»</div>
                    <div class="order-list__item order-list__item--sum"><span class="none">&mdash;&mdash;</span></div>
                    <div class="order-list__item order-list__item--reward"><span class="none">&mdash;&mdash;</span></div>
                    <div class="order-list__item order-list__item--status order-list__item--status--n1"><span class="status__dfn">В работе</span></div>
                    <div class="order-list__item order-list__item--reward-status"><span class="none">&mdash;&mdash;</span></div>
                  </div></a><a href="#" class="order-list__link">
                  <div class="order-list__content order-list__content--paid">
                    <div class="order-list__item order-list__item--warning order-list__item--warning--n3">&nbsp;</div>
                    <div class="order-list__item order-list__item--num">00000</div>
                    <div class="order-list__item order-list__item--date">16.02.16</div>
                    <div class="order-list__item order-list__item--company">«Стройсервис»</div>
                    <div class="order-list__item order-list__item--sum">103 000 <span class="rouble">₽</span></div>
                    <div class="order-list__item order-list__item--reward"><span class="none">&mdash;&mdash;</span></div>
                    <div class="order-list__item order-list__item--status order-list__item--status--n4"><span class="status__dfn">Закрыта</span></div>
                    <div class="order-list__item order-list__item--reward-status">Выплачен</div>
                  </div></a><a href="#" class="order-list__link">
                  <div class="order-list__content">
                    <div class="order-list__item order-list__item--warning order-list__item--warning--n1">&nbsp;</div>
                    <div class="order-list__item order-list__item--num">00000</div>
                    <div class="order-list__item order-list__item--date">16.02.16</div>
                    <div class="order-list__item order-list__item--company">«Стройсервис»</div>
                    <div class="order-list__item order-list__item--sum">123 000 <span class="rouble">₽</span></div>
                    <div class="order-list__item order-list__item--reward">50 000 <span class="rouble">₽</span></div>
                    <div class="order-list__item order-list__item--status order-list__item--status--n4"><span class="status__dfn">Закрыта</span></div>
                    <div class="order-list__item order-list__item--reward-status order-list__item--reward-status--n1">Начислен</div>
                  </div></a></div>
            </div>
          </div>
          <div class="section__addition"><a href="#" class="btn btn__archive">Архив заявок</a></div>
        </div>
      </div>
    </section>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
    <script src="js/libs/jquery.smoothscroll.min.js"></script>
    <script>console.log("js/libs/jquery.smoothscroll.min.js was connected!")</script>
    <script src="js/libs/jquery.scrollbar.js"></script>
    <script>console.log("js/libs/jquery.scrollbar.js was connected!")</script>
    <script src="js/jquery.functions.js"></script>
  </body>
</html>
