public/profile.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msthemecompatible" content="no">
    <meta name="cleartype" content="on">
    <meta name="HandheldFriendly" content="True">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="description" content="Naviport &amp;mdash; Личный кабинет агента">
    <meta name="author" content="Naviport &amp;mdash; Личный кабинет агента">
    <meta name="keywords" content="">
    <meta name="publisher-email" content="">
    <meta name="publisher-url" content="">
    <link rel="shortcut icon" href="img/favicon/favicon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="img/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="img/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="img/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="img/favicon/manifest.json">
    <link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="img/favicon/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href="css/defaults.css?1459198450582" rel="stylesheet">
    <link href="css/layouts.css?1459198450582" rel="stylesheet">
    <link href="css/pages.css?1459198450582" rel="stylesheet">
    <link href="css/vendors.css?1459198450582" rel="stylesheet">
    <link href="css/develop.css?1459198450582" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=latin,cyrillic-ext,latin-ext,cyrillic" rel="stylesheet" type="text/css"><!--[if lt IE 9]>
    <script src="js/libs/html5shiv/es5-shim.min.js"></script>
    <script src="js/libs/html5shiv/html5shiv.min.js"></script>
    <script src="js/libs/html5shiv/html5shiv-printshiv.min.js"></script>
    <script src="js/libs/respond.min.js"></script><![endif]-->
    <title>Мой профиль</title>
  </head>
  <body>
    <section class="sidebar">
      <div class="sidebar__wrap scrollbar">
        <div class="logotype"><a href="dashboard.html" class="logotype__link"><img src="img/logotype.png" width="151" height="43" title="Перейти на главную страницу Личного кабинета" alt="" class="logotype__image"></a>
          <div class="create"><a href="order__add.html" class="create__link btn btn__create">Создать заявку</a></div>
        </div>
        <div class="menu">
          <ul class="menu__list">
            <li class="menu__item"><a href="dashboard.html" class="menu__link menu__link--dashboard">Рабочий стол</a></li>
            <li class="menu__item"><a href="order__list.html" class="menu__link menu__link--orders active">Заявки</a></li>
            <li class="menu__item"><a href="profile.html" class="menu__link menu__link--profile">Мой профиль</a></li>
            <li class="menu__item"><a href="finance.html" class="menu__link menu__link--finance">Финансы</a></li>
            <li class="menu__item"><a href="base.html" class="menu__link menu__link--base">База знаний</a></li>
            <li class="menu__item"><a href="tickets__list.html" class="menu__link menu__link--support">Техподдержка</a></li>
          </ul>
        </div>
        <div class="manager"><img src="img/manager__avatar.png" width="60" height="60" title="" alt="" class="manager__image">
          <div class="manager__name">Елена Сон</div>
          <div class="manager__title">Ваш менеджер</div>
          <div class="manager__phone">8 (315) 525-31-63</div>
          <div class="manager__email">elena@naviportal.ru</div>
        </div>
        <div class="support">
          <div class="support__title">Служба технической поддержки</div>
          <div class="support-b">
            <div class="support-b__phone">8-800-500-43-69</div>
            <div class="support-b__email">support@naviportal.ru</div>
          </div>
        </div>
      </div>
    </section>
    <section class="content">
      <div class="navigation">
        <div class="navigation__list">
          <div class="row">
            <div class="s4 col">
              <div class="navigation__item navigation__item--support"><img src="img/icons/icon__support--small.png" width="20" height="20" title="Сообщения от техподдержки" alt="" class="navigation__icon"><a href="#" class="navigation__link">Техподдержка</a><span class="navigation__indicator">3</span></div>
            </div>
            <div class="s1 col">
              <div class="navigation__item navigation__item--balance"><img src="img/icons/icon__finance--small.png" width="20" height="20" title="Ваш баланс" alt="" class="navigation__icon"><a href="#" title="Ваш баланс" class="navigation__link">1 386 500 <span class="rouble">₽</span></a></div>
            </div>
            <div class="s5 col">
              <div class="navigation__item navigation__item--name"><a href="#" class="navigation__link">Константиновский Александр Васильевич <span class="normal">(id: 3155)</span></a></div>
              <div class="navigation__item navigation__item--exit"><a href="#" class="navigation__link"><img src="img/icons/icon__exit.png" width="20" height="20" title="Выйти из кабинета" alt="" class="navigation__icon"></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="base profile">
        <div class="container">
          <div class="row">
            <div class="s12 col">
              <div class="section__header">
                <h1 class="section__title">Мой профиль</h1>
                <div class="section__action">
                  <div class="action">
                    <div class="action__list">
                      <div class="action__item"><a href="#" class="action__link action__link--change">Запрос на изменение данных</a></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="section__content">
                <div class="profile block">
                  <div class="profile__content">
                    <div class="profile__item">
                      <div class="profile__photo"><img src="img/icons/icon__nophoto.jpg" width="100" height="100" title="Нет фотографии" alt="Нет фотографии" class="name__image"></div>
                    </div>
                    <div class="profile__item">
                      <div class="profile__info">
                        <div class="profile__name profile__name--phisical">Афанасьев Валерий Петрович</div>
                        <div class="profile__order">Договор №31577-2 от 12.02.15</div>
                        <div class="profile__other"><span class="profile__disc"><em>ИНН</em></span><span class="profile__value">9411251518283884</span></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section__content">
            <div class="row">
              <div class="s7 col">
                <div class="requisites">
                  <h2 class="requisites__title">Банковские реквизиты</h2>
                  <div class="requisites__content block">
                    <div class="requisites__list">
                      <div class="requisites__item"><span class="requisites__disc"><em>Название банка</em></span><span class="requisites__value">СПБ ФИЛИАЛ ЗАО "БАНК РУССКИЙ СТАНДАРТ"</span></div>
                      <div class="requisites__item"><span class="requisites__disc"><em>БИК банка</em></span><span class="requisites__value">0540308472</span></div>
                      <div class="requisites__item"><span class="requisites__disc"><em>ИНН банка</em></span><span class="requisites__value">0540308472</span></div>
                      <div class="requisites__item"><span class="requisites__disc"><em>Кор. счет банка</em></span><span class="requisites__value">40101910405000000847</span></div>
                      <div class="requisites__item"><span class="requisites__disc"><em>Расч. счет <br />получателя</em></span><span class="requisites__value">40101910405000000847</span></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="s5 col">
                <div class="phones">
                  <h2 class="phones__title">Контакты</h2>
                  <div class="phones__content block">
                    <div class="phones__list">
                      <div class="phones__item"><span class="phones__disc"><em>Телефон</em></span><span class="phones__value">+7 (912) 141-51-61</span></div>
                      <div class="phones__item"><span class="phones__disc"><em>Эл. почта</em></span><span class="phones__value">af@promport.ru</span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
    <script src="js/libs/jquery.smoothscroll.min.js"></script>
    <script>console.log("js/libs/jquery.smoothscroll.min.js was connected!")</script>
    <script src="js/libs/jquery.scrollbar.js"></script>
    <script>console.log("js/libs/jquery.scrollbar.js was connected!")</script>
    <script src="js/jquery.functions.js"></script>
  </body>
</html>

source/jade/profile.jade
append config
	- jquery = true
	- slick = false
	- featherlight = false
	- equalheight = false

extends template/template.jade

block title
	| Мой профиль

block content

	//- Sidebar

	include ./include/sidebarA.jade

	section.content

		//- Navigation

		include ./include/navigation.jade

		.base.profile
			.container
				.row
					.s12.col
						.section__header
							h1.section__title Мой профиль
							.section__action
								.action
									.action__list
										.action__item
											a.action__link.action__link--change(href="#") Запрос на изменение данных

						.section__content
							.profile.block
								.profile__content
									.profile__item
										.profile__photo
											img.name__image(src="img/icons/icon__nophoto.jpg", width="100", height="100", title="Нет фотографии", alt="Нет фотографии")
									.profile__item
										.profile__info
											.profile__name.profile__name--phisical Афанасьев Валерий Петрович
											.profile__order Договор №31577-2 от 12.02.15
											.profile__other
												span.profile__disc <em>ИНН</em>
												span.profile__value 9411251518283884
				.section__content
					.row
						.s7.col
							.requisites
								h2.requisites__title Банковские реквизиты
								.requisites__content.block
									.requisites__list
										.requisites__item
											span.requisites__disc <em>Название банка</em>
											span.requisites__value СПБ ФИЛИАЛ ЗАО "БАНК РУССКИЙ СТАНДАРТ"
										.requisites__item
											span.requisites__disc <em>БИК банка</em>
											span.requisites__value 0540308472
										.requisites__item
											span.requisites__disc <em>ИНН банка</em>
											span.requisites__value 0540308472
										.requisites__item
											span.requisites__disc <em>Кор. счет банка</em>
											span.requisites__value 40101910405000000847
										.requisites__item
											span.requisites__disc <em>Расч. счет <br />получателя</em>
											span.requisites__value 40101910405000000847
						.s5.col
							.phones
								h2.phones__title Контакты
								.phones__content.block
									.phones__list
										.phones__item
											span.phones__disc <em>Телефон</em>
											span.phones__value +7 (912) 141-51-61
										.phones__item
											span.phones__disc <em>Эл. почта</em>
											span.phones__value af@promport.ru
