source/jade/tickets__list.jade
append config
	- jquery = true
	- slick = false
	- featherlight = false
	- equalheight = false

extends template/template.jade

block title
	| Список обращений к техподдержке

block content

	//- Sidebar

	include ./include/sidebarA.jade

	section.content

		//- Navigation

		include ./include/navigation.jade

		.base
			.container
				.section__header
					h1.section__title Техподдержка
					.section__action
						.action
							.action__list
								.action__item
									a.action__link.action__link--add(href="#") Обратиться в поддержку

				.section__content
					.techsup
						h2.techsup__title Ваши текущие обращения

						.techsup__header
							.techsup__item.techsup__item--num № обращения
							.techsup__item.techsup__item--date Дата
							.techsup__item.techsup__item--theme Общие вопросы
							.techsup__item.techsup__item--name Заголовок
							.techsup__item.techsup__item--status Статус

						.techsup__list

							a.techsup__link(href="#")
								.techsup__content
									.techsup__item.techsup__item--num 345513212
									.techsup__item.techsup__item--date 10.10.10
									.techsup__item.techsup__item--theme <span class="dfn">Общие вопросы</span>
									.techsup__item.techsup__item--name <span class="dfn">Заголовок</span>
									.techsup__item.techsup__item--status.techsup__item--status--n1 Получен ответ

							a.techsup__link(href="#")
								.techsup__content
									.techsup__item.techsup__item--num 214323212
									.techsup__item.techsup__item--date 10.10.10
									.techsup__item.techsup__item--theme <span class="dfn">Изменение персональных данных</span>
									.techsup__item.techsup__item--name <span class="dfn">Прошу изменить мой адрес почты</span>
									.techsup__item.techsup__item--status.techsup__item--status--n2 Ожидает ответа

							a.techsup__link(href="#")
								.techsup__content
									.techsup__item.techsup__item--num 2155343212
									.techsup__item.techsup__item--date 10.10.10
									.techsup__item.techsup__item--theme <span class="dfn">Общие вопросы</span>
									.techsup__item.techsup__item--name <span class="dfn">Заголовок</span>
									.techsup__item.techsup__item--status.techsup__item--status--n3 Проблема решена
						a.btn.btn__simple.btn__simple--archive(href='#') Архив обращений

public/tickets__list.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msthemecompatible" content="no">
    <meta name="cleartype" content="on">
    <meta name="HandheldFriendly" content="True">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="description" content="Naviport &amp;mdash; Личный кабинет агента">
    <meta name="author" content="Naviport &amp;mdash; Личный кабинет агента">
    <meta name="keywords" content="">
    <meta name="publisher-email" content="">
    <meta name="publisher-url" content="">
    <link rel="shortcut icon" href="img/favicon/favicon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="img/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="img/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="img/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="img/favicon/manifest.json">
    <link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="img/favicon/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href="css/defaults.css?1459198450921" rel="stylesheet">
    <link href="css/layouts.css?1459198450921" rel="stylesheet">
    <link href="css/pages.css?1459198450921" rel="stylesheet">
    <link href="css/vendors.css?1459198450921" rel="stylesheet">
    <link href="css/develop.css?1459198450921" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=latin,cyrillic-ext,latin-ext,cyrillic" rel="stylesheet" type="text/css"><!--[if lt IE 9]>
    <script src="js/libs/html5shiv/es5-shim.min.js"></script>
    <script src="js/libs/html5shiv/html5shiv.min.js"></script>
    <script src="js/libs/html5shiv/html5shiv-printshiv.min.js"></script>
    <script src="js/libs/respond.min.js"></script><![endif]-->
    <title>Список обращений к техподдержке</title>
  </head>
  <body>
    <section class="sidebar">
      <div class="sidebar__wrap scrollbar">
        <div class="logotype"><a href="dashboard.html" class="logotype__link"><img src="img/logotype.png" width="151" height="43" title="Перейти на главную страницу Личного кабинета" alt="" class="logotype__image"></a>
          <div class="create"><a href="order__add.html" class="create__link btn btn__create">Создать заявку</a></div>
        </div>
        <div class="menu">
          <ul class="menu__list">
            <li class="menu__item"><a href="dashboard.html" class="menu__link menu__link--dashboard">Рабочий стол</a></li>
            <li class="menu__item"><a href="order__list.html" class="menu__link menu__link--orders active">Заявки</a></li>
            <li class="menu__item"><a href="profile.html" class="menu__link menu__link--profile">Мой профиль</a></li>
            <li class="menu__item"><a href="finance.html" class="menu__link menu__link--finance">Финансы</a></li>
            <li class="menu__item"><a href="base.html" class="menu__link menu__link--base">База знаний</a></li>
            <li class="menu__item"><a href="tickets__list.html" class="menu__link menu__link--support">Техподдержка</a></li>
          </ul>
        </div>
        <div class="manager"><img src="img/manager__avatar.png" width="60" height="60" title="" alt="" class="manager__image">
          <div class="manager__name">Елена Сон</div>
          <div class="manager__title">Ваш менеджер</div>
          <div class="manager__phone">8 (315) 525-31-63</div>
          <div class="manager__email">elena@naviportal.ru</div>
        </div>
        <div class="support">
          <div class="support__title">Служба технической поддержки</div>
          <div class="support-b">
            <div class="support-b__phone">8-800-500-43-69</div>
            <div class="support-b__email">support@naviportal.ru</div>
          </div>
        </div>
      </div>
    </section>
    <section class="content">
      <div class="navigation">
        <div class="navigation__list">
          <div class="row">
            <div class="s4 col">
              <div class="navigation__item navigation__item--support"><img src="img/icons/icon__support--small.png" width="20" height="20" title="Сообщения от техподдержки" alt="" class="navigation__icon"><a href="#" class="navigation__link">Техподдержка</a><span class="navigation__indicator">3</span></div>
            </div>
            <div class="s1 col">
              <div class="navigation__item navigation__item--balance"><img src="img/icons/icon__finance--small.png" width="20" height="20" title="Ваш баланс" alt="" class="navigation__icon"><a href="#" title="Ваш баланс" class="navigation__link">1 386 500 <span class="rouble">₽</span></a></div>
            </div>
            <div class="s5 col">
              <div class="navigation__item navigation__item--name"><a href="#" class="navigation__link">Константиновский Александр Васильевич <span class="normal">(id: 3155)</span></a></div>
              <div class="navigation__item navigation__item--exit"><a href="#" class="navigation__link"><img src="img/icons/icon__exit.png" width="20" height="20" title="Выйти из кабинета" alt="" class="navigation__icon"></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="base">
        <div class="container">
          <div class="section__header">
            <h1 class="section__title">Техподдержка</h1>
            <div class="section__action">
              <div class="action">
                <div class="action__list">
                  <div class="action__item"><a href="#" class="action__link action__link--add">Обратиться в поддержку</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="section__content">
            <div class="techsup">
              <h2 class="techsup__title">Ваши текущие обращения</h2>
              <div class="techsup__header">
                <div class="techsup__item techsup__item--num">№ обращения</div>
                <div class="techsup__item techsup__item--date">Дата</div>
                <div class="techsup__item techsup__item--theme">Общие вопросы</div>
                <div class="techsup__item techsup__item--name">Заголовок</div>
                <div class="techsup__item techsup__item--status">Статус</div>
              </div>
              <div class="techsup__list"><a href="#" class="techsup__link">
                  <div class="techsup__content">
                    <div class="techsup__item techsup__item--num">345513212</div>
                    <div class="techsup__item techsup__item--date">10.10.10</div>
                    <div class="techsup__item techsup__item--theme"><span class="dfn">Общие вопросы</span></div>
                    <div class="techsup__item techsup__item--name"><span class="dfn">Заголовок</span></div>
                    <div class="techsup__item techsup__item--status techsup__item--status--n1">Получен ответ</div>
                  </div></a><a href="#" class="techsup__link">
                  <div class="techsup__content">
                    <div class="techsup__item techsup__item--num">214323212</div>
                    <div class="techsup__item techsup__item--date">10.10.10</div>
                    <div class="techsup__item techsup__item--theme"><span class="dfn">Изменение персональных данных</span></div>
                    <div class="techsup__item techsup__item--name"><span class="dfn">Прошу изменить мой адрес почты</span></div>
                    <div class="techsup__item techsup__item--status techsup__item--status--n2">Ожидает ответа</div>
                  </div></a><a href="#" class="techsup__link">
                  <div class="techsup__content">
                    <div class="techsup__item techsup__item--num">2155343212</div>
                    <div class="techsup__item techsup__item--date">10.10.10</div>
                    <div class="techsup__item techsup__item--theme"><span class="dfn">Общие вопросы</span></div>
                    <div class="techsup__item techsup__item--name"><span class="dfn">Заголовок</span></div>
                    <div class="techsup__item techsup__item--status techsup__item--status--n3">Проблема решена</div>
                  </div></a></div><a href="#" class="btn btn__simple btn__simple--archive">Архив обращений</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
    <script src="js/libs/jquery.smoothscroll.min.js"></script>
    <script>console.log("js/libs/jquery.smoothscroll.min.js was connected!")</script>
    <script src="js/libs/jquery.scrollbar.js"></script>
    <script>console.log("js/libs/jquery.scrollbar.js was connected!")</script>
    <script src="js/jquery.functions.js"></script>
  </body>
</html>
